force-app/main/default/flows/ALF_CON01_UpdateAccountAndExistingPrimary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>238</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>UpdateContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdateSingleContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contacts_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Primary_to_False</name>
        <label>Set Primary to False</label>
        <locationX>149</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>UpdateSingleContact.Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateSingleContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existing_Primary_Exist</name>
        <label>Existing Primary Exist?</label>
        <locationX>306</locationX>
        <locationY>47</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Primary_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contacts_Loop</targetReference>
            </connector>
            <label>List Not Null</label>
        </rules>
    </decisions>
    <interviewLabel>ALF_CON01_UpdateAccountAndExistingPrimary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALF_CON01_UpdateAccountAndExistingPrimary</label>
    <loops>
        <name>Contacts_Loop</name>
        <label>Contacts Loop</label>
        <locationX>319</locationX>
        <locationY>221</locationY>
        <assignNextValueToReference>SingleContact</assignNextValueToReference>
        <collectionReference>Get_Existing_Primary_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Primary_to_False</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Existing_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Existing_Primary_Contacts</name>
        <label>Get Existing Primary Contacts</label>
        <locationX>166</locationX>
        <locationY>41</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Primary_Exist</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Contacts</name>
        <label>Update Existing Contacts</label>
        <locationX>497</locationX>
        <locationY>221</locationY>
        <inputReference>UpdateContactList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Existing_Primary_Contacts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UpdateContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UpdateSingleContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
