force-app/main/default/flows/ALF_WOR04_UpdatePrePurchasedHoursOnContract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Number_Of_Hours</name>
        <label>Assign Number Of Hours</label>
        <locationX>349</locationX>
        <locationY>192</locationY>
        <assignmentItems>
            <assignToReference>NumberOfHours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Contract.Number_of_Pre_Purchased_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Number_of_Hours_After_Calculation</name>
        <label>Assign Number of Hours After Calculation</label>
        <locationX>83</locationX>
        <locationY>191</locationY>
        <assignmentItems>
            <assignToReference>Get_Service_Contract.Number_of_Pre_Purchased_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberOfHours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract_Hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_Entry</name>
        <label>Subtract Entry</label>
        <locationX>227</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>NumberOfHours</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>SingleEntryRecord.Consumed_Pre_Purchased_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Entries</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>List_check</name>
        <label>List check</label>
        <locationX>336</locationX>
        <locationY>48</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WOLIs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Contract</targetReference>
            </connector>
            <label>List Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pre_Purchased_Hours_Not_Null</name>
        <label>Pre Purchased Hours Not Null</label>
        <locationX>525</locationX>
        <locationY>203</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_Than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Contract.Number_of_Pre_Purchased_Hours__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Number_Of_Hours</targetReference>
            </connector>
            <label>Greater Than 0</label>
        </rules>
    </decisions>
    <interviewLabel>ALF_WOR04_UpdatePrePurchasedHoursOnContract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALF_WOR04_UpdatePrePurchasedHoursOnContract</label>
    <loops>
        <name>Loop_Entries</name>
        <label>Loop Entries</label>
        <locationX>239</locationX>
        <locationY>192</locationY>
        <assignNextValueToReference>SingleEntryRecord</assignNextValueToReference>
        <collectionReference>Get_WOLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Subtract_Entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Number_of_Hours_After_Calculation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Service_Contract</name>
        <label>Get Service Contract</label>
        <locationX>527</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pre_Purchased_Hours_Not_Null</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Number_of_Pre_Purchased_Hours__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WOLIs</name>
        <label>Get WOLIs</label>
        <locationX>185</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>List_check</targetReference>
        </connector>
        <filters>
            <field>Consumed_Pre_Purchased_Hours__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Consumed_Pre_Purchased_Hours__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract_Hours</name>
        <label>Update Contract Hours</label>
        <locationX>84</locationX>
        <locationY>363</locationY>
        <inputReference>Get_Service_Contract</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_WOLIs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NumberOfHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ServiceContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleEntryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
