force-app/main/default/flows/ALF_WOR01_CreateResourcePreferenceOnWO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Chatter_Post_for_Error</name>
        <label>Create Chatter Post for Error</label>
        <locationX>1193</locationX>
        <locationY>279</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>ERROR: Resource Preferences could not be created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>WOid</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>1176</locationX>
        <locationY>42</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Resource Preferences have been created successfuly</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>WOid</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_To_list</name>
        <label>Add To list</label>
        <locationX>919</locationX>
        <locationY>275</locationY>
        <assignmentItems>
            <assignToReference>PreferedTechniciansToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_PreferedResource_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Site_Preferred_Technicians</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_normal_site</name>
        <label>Assignment for normal site</label>
        <locationX>534</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>Single_PreferedResource_Record.ServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleSitePreferredTechrecord.Technician__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_PreferedResource_Record.RelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_PreferedResource_Record.PreferenceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_Restricted_Site_Record</name>
        <label>Assignment for Restricted Site Record</label>
        <locationX>919</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>Single_PreferedResource_Record.PreferenceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_PreferedResource_Record.RelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_PreferedResource_Record.ServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleSitePreferredTechrecord.Technician__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_End_Date</name>
        <label>Check End Date</label>
        <locationX>670</locationX>
        <locationY>390</locationY>
        <defaultConnector>
            <targetReference>Loop_Site_Preferred_Technicians</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleSitePreferredTechrecord.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_Restricted_Site_Record</targetReference>
            </connector>
            <label>Not Expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Existing_record_List_Size</name>
        <label>Check Existing record List Size</label>
        <locationX>411</locationX>
        <locationY>56</locationY>
        <defaultConnector>
            <targetReference>Delete_Existing_WO_Resource_Preference</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_WO_Resource_Preference</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Site_Preferred_Technician_records</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_List_is_not_empty</name>
        <label>Check List is not empty</label>
        <locationX>831</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_has_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreferedTechniciansToInsert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Resource_Preference</targetReference>
            </connector>
            <label>List has records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Restricted_Site</name>
        <label>Check Restricted Site</label>
        <locationX>510</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>Assignment_for_normal_site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Site_is_Restricted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Contract.Restricted_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_End_Date</targetReference>
            </connector>
            <label>Site is Restricted</label>
        </rules>
    </decisions>
    <interviewLabel>ALF_WOR01_Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALF_WOR01_CreateResourcePreferenceOnWO</label>
    <loops>
        <name>Loop_Site_Preferred_Technicians</name>
        <label>Loop Site Preferred Technicians</label>
        <locationX>698</locationX>
        <locationY>54</locationY>
        <assignNextValueToReference>SingleSitePreferredTechrecord</assignNextValueToReference>
        <collectionReference>PreferredTechniciansrecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Restricted_Site</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_List_is_not_empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Resource_Preference</name>
        <label>Create Resource Preference</label>
        <locationX>1021</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Chatter_Post_for_Error</targetReference>
        </faultConnector>
        <inputReference>PreferedTechniciansToInsert</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_WO_Resource_Preference</name>
        <label>Delete Existing WO Resource Preference</label>
        <locationX>402</locationX>
        <locationY>229</locationY>
        <connector>
            <targetReference>Get_Site_Preferred_Technician_records</targetReference>
        </connector>
        <inputReference>Get_Existing_WO_Resource_Preference</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Existing_WO_Resource_Preference</name>
        <label>Get Existing WO Resource Preference</label>
        <locationX>279</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Existing_record_List_Size</targetReference>
        </connector>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Contract</name>
        <label>Get Service Contract</label>
        <locationX>145</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_WO_Resource_Preference</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceContracId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Preferred_Technician_records</name>
        <label>Get Site Preferred Technician records</label>
        <locationX>568</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Site_Preferred_Technicians</targetReference>
        </connector>
        <filters>
            <field>Service_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceContracId</elementReference>
            </value>
        </filters>
        <object>Site_Preferred_Technician__c</object>
        <outputReference>PreferredTechniciansrecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Service_Contract__c</queriedFields>
        <queriedFields>Technician__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>Get_Service_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PreferedTechniciansToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourcePreference</objectType>
    </variables>
    <variables>
        <name>PreferredTechniciansrecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site_Preferred_Technician__c</objectType>
    </variables>
    <variables>
        <name>ServiceContracId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Single_PreferedResource_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourcePreference</objectType>
    </variables>
    <variables>
        <name>SingleSitePreferredTechrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site_Preferred_Technician__c</objectType>
    </variables>
    <variables>
        <name>WOid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
