force-app/main/default/flows/ALF_WOR03_UpdateCaseToFinishStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>NotAll_Ready_to_Invoice_check</name>
        <label>NotAll Ready to Invoice check</label>
        <locationX>447</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>NotAllReadyToInvoiceCHeckbox</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_WO_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_WO_Ready_to_invoice</name>
        <label>All WO Ready to invoice?</label>
        <locationX>261</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Check_WO_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_not_ready_to_invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleWO.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ready To Invoice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotAll_Ready_to_Invoice_check</targetReference>
            </connector>
            <label>Status not ready to invoice</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Checkbox</name>
        <label>Check Checkbox</label>
        <locationX>544</locationX>
        <locationY>56</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checkbox_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotAllReadyToInvoiceCHeckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Checkbox False</label>
        </rules>
    </decisions>
    <interviewLabel>ALF_WOR03_UpdateCaseToFinishStatus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALF_WOR03_UpdateCaseToFinishStatus</label>
    <loops>
        <name>Check_WO_Status</name>
        <label>Check WO Status</label>
        <locationX>369</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>SingleWO</assignNextValueToReference>
        <collectionReference>Get_All_WO_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>All_WO_Ready_to_invoice</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Checkbox</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_WO_records</name>
        <label>Get All WO records</label>
        <locationX>213</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WO_Status</targetReference>
        </connector>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>554</locationX>
        <locationY>221</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Finished</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_WO_records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotAllReadyToInvoiceCHeckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SingleWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
