force-app/main/default/flows/ALF_WOR06_SkillRequirementUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Record_To_List</name>
        <label>Assign Record To List</label>
        <locationX>675</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>ListOfSkillToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleSkill</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Skill_Requirement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SingleRecordToAdd</name>
        <label>SingleRecordToAdd</label>
        <locationX>662</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>SingleSkill.SkillId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SkillRequirementSingleRecord.SkillId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleSkill.SkillLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SkillRequirementSingleRecord.SkillLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleSkill.RelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Record_To_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existing_WO_Skill_requirement</name>
        <label>Existing WO Skill requirement</label>
        <locationX>334</locationX>
        <locationY>56</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WO_Skill_Requirement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Skill_Requirement</targetReference>
            </connector>
            <label>Has Existing</label>
        </rules>
        <rules>
            <name>No_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WO_Skill_Requirement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Skill_Requirement</targetReference>
            </connector>
            <label>No Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skill_Requirement_Exist_on_WorkType</name>
        <label>Skill Requirement Exist on WorkType</label>
        <locationX>494</locationX>
        <locationY>63</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Skill_Requirement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Skill_Requirement</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <interviewLabel>ALF_WOR06_SkillRequirementUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALF_WOR06_SkillRequirementUpdate</label>
    <loops>
        <name>Loop_Skill_Requirement</name>
        <label>Loop Skill Requirement</label>
        <locationX>675</locationX>
        <locationY>63</locationY>
        <assignNextValueToReference>SkillRequirementSingleRecord</assignNextValueToReference>
        <collectionReference>Get_Skill_Requirement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SingleRecordToAdd</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Records</name>
        <label>Create Records</label>
        <locationX>799</locationX>
        <locationY>82</locationY>
        <inputReference>ListOfSkillToCreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Skill_Requirement</name>
        <label>Delete Skill Requirement</label>
        <locationX>218</locationX>
        <locationY>267</locationY>
        <connector>
            <targetReference>Get_Skill_Requirement</targetReference>
        </connector>
        <inputReference>Get_WO_Skill_Requirement</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Skill_Requirement</name>
        <label>Get Skill Requirement</label>
        <locationX>436</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Skill_Requirement_Exist_on_WorkType</targetReference>
        </connector>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SkillRequirement</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SkillId</queriedFields>
        <queriedFields>SkillLevel</queriedFields>
        <queriedFields>SkillNumber</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_Skill_Requirement</name>
        <label>Get WO Skill Requirement</label>
        <locationX>194</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_WO_Skill_requirement</targetReference>
        </connector>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SkillRequirement</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_WO_Skill_Requirement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ListOfSkillToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <name>SingleSkill</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <name>SkillRequirementSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
