force-app/main/default/flows/ALF_WOR05_GenerateSalesOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Caller_Name</name>
        <label>Assign Caller Name</label>
        <locationX>504</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>CustomerReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.Caller_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sales_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PO</name>
        <label>Assign PO</label>
        <locationX>627</locationX>
        <locationY>48</locationY>
        <assignmentItems>
            <assignToReference>CustomerReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.Customer_Purchase_Order_number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sales_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SOLI_to_List</name>
        <label>Assign SOLI to List</label>
        <locationX>728</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>LineItemToCreateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_WOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Supplier_SOLI</name>
        <label>Assign Supplier SOLI</label>
        <locationX>572</locationX>
        <locationY>640</locationY>
        <assignmentItems>
            <assignToReference>SingleLineItem.Sales_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLineItem.Item_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Special (S)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLineItem.Order_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleWOLI.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLineItem.Item_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleWOLI.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLineItem.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleWOLI.Units__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLineItem.Work_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleWOLI.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLineItem.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleWOLI.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLineItem.Purchase_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleWOLI.Purchase_Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SOLI_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WOLI_Labour</name>
        <label>Assign WOLI Labour</label>
        <locationX>569</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>SingleLineItem.Item_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Special (S)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLineItem.Item_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleWOLI.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLineItem.Order_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleWOLI.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLineItem.Sales_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLineItem.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HRS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLineItem.Work_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleWOLI.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLineItem.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleWOLI.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLineItem.Purchase_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleWOLI.Purchase_Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SOLI_to_List</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>to add line breaks in text</description>
        <name>NewLine</name>
        <dataType>String</dataType>
        <value>
            <stringValue/>
        </value>
    </constants>
    <constants>
        <name>SalesOrderRT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>WorkOrder_SalesOrder_RT</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_SOLI_List</name>
        <label>Check SOLI List</label>
        <locationX>731</locationX>
        <locationY>377</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SOLI_LIST_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineItemToCreateList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SOLI</targetReference>
            </connector>
            <label>SOLI LIST NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Individual_WO_Check</name>
        <label>Individual WO Check</label>
        <locationX>297</locationX>
        <locationY>70</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Individual_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Contract.Billing_Terms__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Aggregated Billing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_PO_provided</targetReference>
            </connector>
            <label>Individual WO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_PO_provided</name>
        <label>Is PO provided?</label>
        <locationX>442</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Assign_Caller_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PO_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order.Customer_Purchase_Order_number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>EmptyVariable</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PO</targetReference>
            </connector>
            <label>PO Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>WO_has_Sales_Order</name>
        <label>WO has Sales Order?</label>
        <locationX>153</locationX>
        <locationY>210</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Sales_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order.Sales_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sales_Order_RT</targetReference>
            </connector>
            <label>No Sales Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>WOLI_Type</name>
        <label>WOLI Type?</label>
        <locationX>382</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WOLI_PO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleWOLI.Employee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SingleWOLI.Resource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Supplier_SOLI</targetReference>
            </connector>
            <label>WOLI Supplier</label>
        </rules>
        <rules>
            <name>WOLI_Labour</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleWOLI.Billable_Hours__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SingleWOLI.Billable_Hours__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WOLI_Labour</targetReference>
            </connector>
            <label>WOLI Labour</label>
        </rules>
    </decisions>
    <formulas>
        <name>LineBreak</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>ALF_WOR05_GenerateSalesOrder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALF_WOR05_GenerateSalesOrder</label>
    <loops>
        <name>Loop_WOLI</name>
        <label>Loop WOLI</label>
        <locationX>489</locationX>
        <locationY>388</locationY>
        <assignNextValueToReference>SingleWOLI</assignNextValueToReference>
        <collectionReference>Get_WOLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>WOLI_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_SOLI_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Sales_Order</name>
        <label>Create Sales Order</label>
        <locationX>752</locationX>
        <locationY>174</locationY>
        <assignRecordIdToReference>SalesOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_WOLI</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Work_Order.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action_Taken__c</field>
            <value>
                <elementReference>Get_Work_Order.Action_Taken__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_Work_Order.CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <stringValue>AUD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Reference__c</field>
            <value>
                <elementReference>CustomerReference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Findings__c</field>
            <value>
                <elementReference>Get_Work_Order.Initial_Findings__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Sales_Order_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported_Fault__c</field>
            <value>
                <elementReference>Get_Work_Order.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SC_Project_Code__c</field>
            <value>
                <elementReference>Get_Service_Contract.Project_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Contract__c</field>
            <value>
                <elementReference>Get_Work_Order.ServiceContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Territory__c</field>
            <value>
                <elementReference>Get_Work_Order.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suggested_Follow_up__c</field>
            <value>
                <elementReference>Get_Work_Order.Suggested_Follow_up__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Order__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_SOLI</name>
        <label>Create SOLI</label>
        <locationX>890</locationX>
        <locationY>386</locationY>
        <connector>
            <targetReference>Update_SO_lookup_on_WO</targetReference>
        </connector>
        <inputReference>LineItemToCreateList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Sales_Order_RT</name>
        <label>Get Sales Order RT</label>
        <locationX>250</locationX>
        <locationY>432</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Contract</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesOrderRT</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Contract</name>
        <label>Get Service Contract</label>
        <locationX>297</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Individual_WO_Check</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order.ServiceContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WOLI</name>
        <label>Get WOLI</label>
        <locationX>571</locationX>
        <locationY>297</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_WOLI</targetReference>
        </connector>
        <filters>
            <field>Quantity</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Employee__c</queriedFields>
        <queriedFields>Resource__c</queriedFields>
        <queriedFields>Billable_Hours__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Resource_Formula__c</queriedFields>
        <queriedFields>Units__c</queriedFields>
        <queriedFields>Purchase_Order__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>160</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WO_has_Sales_Order</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Initial_Findings__c</queriedFields>
        <queriedFields>Suggested_Follow_up__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Action_Taken__c</queriedFields>
        <queriedFields>ServiceContractId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Customer_Purchase_Order_number__c</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>Caller_Name__c</queriedFields>
        <queriedFields>Sales_Order__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SO_lookup_on_WO</name>
        <label>Update SO lookup on WO</label>
        <locationX>1049</locationX>
        <locationY>382</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_Order__c</field>
            <value>
                <elementReference>SalesOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CustomerReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmptyVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LineItemToCreateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>SalesOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>SingleWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
