force-app/main/default/flows/ALF_POR01_CreateWOLIforPOLI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>1081</locationX>
        <locationY>81</locationY>
        <assignmentItems>
            <assignToReference>WOLItoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleWOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_POLI_Loop_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_WOLI_to_List</name>
        <label>Assign Single WOLI to List</label>
        <locationX>945</locationX>
        <locationY>514</locationY>
        <assignmentItems>
            <assignToReference>WOLItoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleWOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>POLI_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WOLI_for_Supplier</name>
        <label>Assign WOLI for Supplier</label>
        <locationX>846</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>SingleWOLI.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleWOLI.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PricebookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleWOLI.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SinglePOLI.Units__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleWOLI.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOLIPricewithMarkup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleWOLI.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SinglePOLI.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleWOLI.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SinglePOLI.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleWOLI.Service_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleWOLI.Purchase_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PurchaseOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleWOLI.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SinglePOLI.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleWOLI.Service_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WOLI_values</name>
        <label>Assign WOLI values</label>
        <locationX>791</locationX>
        <locationY>514</locationY>
        <assignmentItems>
            <assignToReference>SingleWOLI.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleWOLI.Service_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleWOLI.Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SinglePOLI.Employee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleWOLI.Service_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleWOLI.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SinglePOLI.Start_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleWOLI.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SinglePOLI.End_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleWOLI.Actual_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SinglePOLI.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleWOLI.Billable_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SinglePOLI.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleWOLI.Purchase_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PurchaseOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_WOLI_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_List_Size</name>
        <label>Check List Size</label>
        <locationX>268</locationX>
        <locationY>364</locationY>
        <defaultConnector>
            <targetReference>Is_SA_populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Purchase_Order_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>List is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SA_populated</name>
        <label>Is SA populated?</label>
        <locationX>428</locationX>
        <locationY>367</locationY>
        <defaultConnector>
            <targetReference>Get_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SA_is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PO_Record_Type</targetReference>
            </connector>
            <label>SA is populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>PO_Record_Type</name>
        <label>PO Record Type?</label>
        <locationX>658</locationX>
        <locationY>368</locationY>
        <defaultConnector>
            <targetReference>POLI_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Supplier_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PO_RT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier_PurchaseOrder_RT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_for_Supplier</targetReference>
            </connector>
            <label>Supplier RT</label>
        </rules>
    </decisions>
    <formulas>
        <name>WOLIPricewithMarkup</name>
        <dataType>Currency</dataType>
        <expression>({!SinglePOLI.Cost__c}* {!ContractSupplierMarkup})/100 + {!SinglePOLI.Cost__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>ALF_POR01_CreateWOLIforPOLI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALF_POR01_CreateWOLIforPOLI</label>
    <loops>
        <name>Get_POLI_Loop_2</name>
        <label>Get POLI Loop 2</label>
        <locationX>851</locationX>
        <locationY>215</locationY>
        <assignNextValueToReference>SinglePOLI</assignNextValueToReference>
        <collectionReference>Get_Purchase_Order_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_WOLI_for_Supplier</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_WOLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>POLI_Loop</name>
        <label>POLI Loop</label>
        <locationX>857</locationX>
        <locationY>364</locationY>
        <assignNextValueToReference>SinglePOLI</assignNextValueToReference>
        <collectionReference>Get_Purchase_Order_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_WOLI_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_WOLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_WOLI</name>
        <label>Create WOLI</label>
        <locationX>1081</locationX>
        <locationY>344</locationY>
        <inputReference>WOLItoCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_PricebookEntry</name>
        <label>Get PricebookEntry</label>
        <locationX>647</locationX>
        <locationY>123</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_POLI_Loop_2</targetReference>
        </connector>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PricebookId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_for_Supplier.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_for_Supplier</name>
        <label>Get Product for Supplier</label>
        <locationX>651</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PricebookEntry</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier Product</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Purchase_Order_Line_Items</name>
        <label>Get Purchase Order Line Items</label>
        <locationX>159</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_List_Size</targetReference>
        </connector>
        <filters>
            <field>Purchase_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PurchaseOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Purchase_Order_Line_Item__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Employee__c</queriedFields>
        <queriedFields>Start_Date_Time__c</queriedFields>
        <queriedFields>End_Date_Time__c</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>Units__c</queriedFields>
        <queriedFields>Cost__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>378</locationX>
        <locationY>563</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_PO</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>ServiceAppointmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_PO</name>
        <label>Update PO</label>
        <locationX>552</locationX>
        <locationY>568</locationY>
        <connector>
            <targetReference>PO_Record_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PurchaseOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>358</locationY>
        <connector>
            <targetReference>Get_Purchase_Order_Line_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContractSupplierMarkup</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PO_RT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PurchaseOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SinglePOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>SingleWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WOLItoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
