force-app/main/default/flows/ALF_POR02_DeleteWOLIandSOLI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_POLI_Size</name>
        <label>Check POLI Size</label>
        <locationX>540</locationX>
        <locationY>429</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SOLI_size_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SOLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_SOLI</targetReference>
            </connector>
            <label>SOLI size not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WOLI_size</name>
        <label>Check WOLI size</label>
        <locationX>289</locationX>
        <locationY>237</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WOLI_list_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WOLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_WOLI</targetReference>
            </connector>
            <label>WOLI list is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SO_Integrated</name>
        <label>Is SO Integrated</label>
        <locationX>704</locationX>
        <locationY>250</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SO_not_integrated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SO.Integration_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Waiting Confirmation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SO.Integration_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SOLI</targetReference>
            </connector>
            <label>SO not integrated</label>
        </rules>
    </decisions>
    <decisions>
        <name>WO_has_SO</name>
        <label>WO has SO?</label>
        <locationX>478</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Get_WOLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SO_already_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WO.Sales_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SO</targetReference>
            </connector>
            <label>SO already Created</label>
        </rules>
    </decisions>
    <interviewLabel>ALF_POR02_DeleteWOLIandSOLI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALF_POR02_DeleteWOLIandSOLI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_SOLI</name>
        <label>Delete SOLI</label>
        <locationX>359</locationX>
        <locationY>420</locationY>
        <connector>
            <targetReference>Get_WOLI</targetReference>
        </connector>
        <inputReference>Get_SOLI</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_WOLI</name>
        <label>Delete WOLI</label>
        <locationX>75</locationX>
        <locationY>220</locationY>
        <inputReference>Get_WOLI</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Purchase_Order</name>
        <label>Get Purchase Order</label>
        <locationX>206</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WO</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PO_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Purchase_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SO</name>
        <label>Get SO</label>
        <locationX>715</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_SO_Integrated</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WO.Sales_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SOLI</name>
        <label>Get SOLI</label>
        <locationX>713</locationX>
        <locationY>430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_POLI_Size</targetReference>
        </connector>
        <filters>
            <field>Purchase_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PO_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Order_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WO</name>
        <label>Get WO</label>
        <locationX>352</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WO_has_SO</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Purchase_Order.Work_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WOLI</name>
        <label>Get WOLI</label>
        <locationX>493</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WOLI_size</targetReference>
        </connector>
        <filters>
            <field>Purchase_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PO_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Purchase_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PO_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
