force-app/main/default/flows/ALF_PPH01_CreateSalesOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>ALF_PPH01_CreateSalesOrder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALF_PPH01_CreateSalesOrder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Line_Item</name>
        <label>Create Line Item</label>
        <locationX>591</locationX>
        <locationY>55</locationY>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>Pre Purchased Hours</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_Code__c</field>
            <value>
                <stringValue>Special (S)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_Price__c</field>
            <value>
                <elementReference>ItemPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Quantity__c</field>
            <value>
                <elementReference>NumberOfHours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Order__c</field>
            <value>
                <elementReference>SalesOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Units__c</field>
            <value>
                <stringValue>HRS</stringValue>
            </value>
        </inputAssignments>
        <object>Sales_Order_Line_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Sales_Order</name>
        <label>Create Sales Order</label>
        <locationX>405</locationX>
        <locationY>58</locationY>
        <assignRecordIdToReference>SalesOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Line_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Reference__c</field>
            <value>
                <elementReference>PurchaseOrderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pre_Purchased_Hours_Detail__c</field>
            <value>
                <elementReference>PrePurchasedHoursId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Pre_purchased_hours_record_type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Contract__c</field>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Territory__c</field>
            <value>
                <elementReference>ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Order__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Pre_purchased_hours_record_type</name>
        <label>Get Pre purchased hours record type</label>
        <locationX>189</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Sales_Order</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PrePurchasedHours_SalesOrder_RT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Pre_purchased_hours_record_type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerPO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ItemPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NumberOfHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PrePurchasedHoursId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PurchaseOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceTerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
