force-app/main/default/flows/ALF_SCO01_CreateAndPopulatePriceBook.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_To_Creation_List</name>
        <label>Add To Creation List</label>
        <locationX>846</locationX>
        <locationY>70</locationY>
        <assignmentItems>
            <assignToReference>NewEntriesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewlyCreatedEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopExistingEntries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EntryAssignment</name>
        <label>EntryAssignment</label>
        <locationX>680</locationX>
        <locationY>77</locationY>
        <assignmentItems>
            <assignToReference>NewlyCreatedEntry.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntryRecord.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewlyCreatedEntry.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewlyCreatedEntry.Price_Book_Custom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewlyCreatedEntry.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntryRecord.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewlyCreatedEntry.Usage_per_hour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntryRecord.Usage_per_hour__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewlyCreatedEntry.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Creation_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ExistingPricebookId_Assigment</name>
        <label>ExistingPricebookId Assigment</label>
        <locationX>521</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>ExistingPricebookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateNewPricebook</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_PricebookId</name>
        <label>Has PricebookId?</label>
        <locationX>148</locationX>
        <locationY>32</locationY>
        <defaultConnector>
            <targetReference>Get_Pricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Pricebook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PricebookId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Contract</targetReference>
            </connector>
            <label>Has Pricebook</label>
        </rules>
    </decisions>
    <interviewLabel>ALF_SCO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALF_SCO01_CreateAndPopulatePriceBook</label>
    <loops>
        <name>LoopExistingEntries</name>
        <label>LoopExistingEntries</label>
        <locationX>683</locationX>
        <locationY>215</locationY>
        <assignNextValueToReference>EntryRecord</assignNextValueToReference>
        <collectionReference>Get_Existing_Entries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>EntryAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateEntries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateEntries</name>
        <label>CreateEntries</label>
        <locationX>863</locationX>
        <locationY>206</locationY>
        <connector>
            <targetReference>Update_Service_Contract</targetReference>
        </connector>
        <inputReference>NewEntriesList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateNewPricebook</name>
        <label>CreateNewPricebook</label>
        <locationX>523</locationX>
        <locationY>371</locationY>
        <assignRecordIdToReference>NewPricebookId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Existing_Entries</targetReference>
        </connector>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <elementReference>ContractType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!ContractName} Pricebook</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Contract__c</field>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Territory__c</field>
            <value>
                <elementReference>ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <object>Pricebook2</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_Entries</name>
        <label>Delete Existing Entries</label>
        <locationX>243</locationX>
        <locationY>209</locationY>
        <connector>
            <targetReference>Delete_Existing_Pricebook</targetReference>
        </connector>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PricebookId</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Existing_Pricebook</name>
        <label>Delete Existing Pricebook</label>
        <locationX>373</locationX>
        <locationY>205</locationY>
        <connector>
            <targetReference>Get_Pricebook</targetReference>
        </connector>
        <filters>
            <field>Service_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </filters>
        <object>Pricebook2</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Existing_Entries</name>
        <label>Get Existing Entries</label>
        <locationX>689</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopExistingEntries</targetReference>
        </connector>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingPricebookId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>Usage_per_hour__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook</name>
        <label>Get Pricebook</label>
        <locationX>518</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExistingPricebookId_Assigment</targetReference>
        </connector>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Contract__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contract_Type__c</queriedFields>
        <queriedFields>Service_Territory__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Contract</name>
        <label>Update Existing Contract</label>
        <locationX>143</locationX>
        <locationY>205</locationY>
        <connector>
            <targetReference>Delete_Existing_Entries</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <object>ServiceContract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Contract</name>
        <label>Update Service Contract</label>
        <locationX>863</locationX>
        <locationY>367</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>NewPricebookId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceContract</object>
    </recordUpdates>
    <start>
        <locationX>45</locationX>
        <locationY>32</locationY>
        <connector>
            <targetReference>Has_PricebookId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContractName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EntryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>ExistingPricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewEntriesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>NewlyCreatedEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>NewPricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceTerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
