force-app/main/default/flows/FSMF_SAP06_CustomerJSEA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>SA_Assignment</name>
        <label>SA Assignment</label>
        <locationX>612</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>SA_Record.JSEA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer JSEA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>JSEA_already_populated</name>
        <label>JSEA already populated?</label>
        <locationX>418</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>JSEA_Is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_Record.JSEA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SA_Assignment</targetReference>
            </connector>
            <label>JSEA Is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Check</name>
        <label>Status Check</label>
        <locationX>414</locationX>
        <locationY>58</locationY>
        <defaultConnector>
            <targetReference>Warning_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Arrived_Onsite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arrived Onsite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_JSEA</targetReference>
            </connector>
            <label>Arrived Onsite</label>
        </rules>
    </decisions>
    <interviewLabel>FSMF_SAP06_CustomerJSEA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSMF_SAP06_CustomerJSEA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>154</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WO</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SA_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>JSEA__c</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WO</name>
        <label>Get WO</label>
        <locationX>284</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Check</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WO_Record</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>747</locationX>
        <locationY>379</locationY>
        <inputReference>SA_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Capture_JSEA</name>
        <label>Capture JSEA</label>
        <locationX>423</locationX>
        <locationY>236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>JSEA_already_populated</targetReference>
        </connector>
        <fields>
            <name>JSEA</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer JSEA</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning_Message</name>
        <label>Warning Message</label>
        <locationX>614</locationX>
        <locationY>59</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;Please update the Service Appointment Status to &lt;b&gt;Arrived Onsite&lt;/b&gt; to capture the JSEA.&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Current service appointment status = {!SA_Record.Status}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_SA</startElementReference>
    <status>Draft</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SA_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>WO_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
