force-app/main/default/flows/FSMF_CAS01_ReviewCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Case_Description</name>
        <label>Assign Case Description</label>
        <locationX>2512</locationX>
        <locationY>568</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Work_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Case_Reviewed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contract</name>
        <label>Assign Contract</label>
        <locationX>1940</locationX>
        <locationY>688</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Service_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Contract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Site_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contact_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contract_and_Contact</name>
        <label>Assign Contract and Contact</label>
        <locationX>2585</locationX>
        <locationY>914</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Service_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Contract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Site_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedContract_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email</name>
        <label>Assign Email</label>
        <locationX>1305</locationX>
        <locationY>702</locationY>
        <assignmentItems>
            <assignToReference>CaseContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Email_Address</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email2</name>
        <label>Assign Email</label>
        <locationX>2273</locationX>
        <locationY>685</locationY>
        <assignmentItems>
            <assignToReference>CaseContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Email_Address2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Account</name>
        <label>Assign Selected Account</label>
        <locationX>1473</locationX>
        <locationY>704</locationY>
        <assignmentItems>
            <assignToReference>CaseContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Contract</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>KeepCreatedRecord_Choice</name>
        <choiceText>Keep the created account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Keep the created record</stringValue>
        </value>
    </choices>
    <choices>
        <name>KeepCurrentContract_Choice</name>
        <choiceText>Keep current contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Keep current contract</stringValue>
        </value>
    </choices>
    <choices>
        <name>KeepExistingRecord</name>
        <choiceText>Keep the current account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Keep existing record</stringValue>
        </value>
    </choices>
    <choices>
        <name>SearchForContract</name>
        <choiceText>Search for a different contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Search for a different contract</stringValue>
        </value>
    </choices>
    <choices>
        <name>SearchForExistingRecord_Choice</name>
        <choiceText>Search for an account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Search for existing record</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Account_has_been_searched</name>
        <label>Account has been searched?</label>
        <locationX>1470</locationX>
        <locationY>907</locationY>
        <defaultConnector>
            <targetReference>Contact_Email_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_searched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_Account</targetReference>
            </connector>
            <label>Account searched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Status_Check</name>
        <label>Case Status Check</label>
        <locationX>301</locationX>
        <locationY>62</locationY>
        <defaultConnector>
            <targetReference>Email_To_Case_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_is_Not_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WarmingCaseinProgress</targetReference>
            </connector>
            <label>Case is Not New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_RT</name>
        <label>Check Account RT</label>
        <locationX>671</locationX>
        <locationY>368</locationY>
        <defaultConnector>
            <targetReference>Customer_Account_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RT_is_Cash_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRTName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash_Account_RT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cash_Account_Display_Screen</targetReference>
            </connector>
            <label>RT is Cash Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Email</name>
        <label>Check Contact Email</label>
        <locationX>2039</locationX>
        <locationY>693</locationY>
        <defaultConnector>
            <targetReference>Update_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_does_not_have_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseContact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Email_Screen</targetReference>
            </connector>
            <label>Contact does not have email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Decision</name>
        <label>Contract Decision</label>
        <locationX>1646</locationX>
        <locationY>572</locationY>
        <defaultConnector>
            <targetReference>Search_Contract_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Keep_Current_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_Contract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>KeepCurrentContract_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Same_Account</targetReference>
            </connector>
            <label>Keep Current Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_To_Case_Check</name>
        <label>Email To Case Check</label>
        <locationX>476</locationX>
        <locationY>64</locationY>
        <defaultConnector>
            <targetReference>Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Email_to_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Tech_Email_to_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User</targetReference>
            </connector>
            <label>Not Email to Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_a_template_contract</name>
        <label>Is it a template contract?</label>
        <locationX>1937</locationX>
        <locationY>894</locationY>
        <defaultConnector>
            <targetReference>Assign_Contract_and_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_is_a_template_contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedContract_Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Template</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contract</targetReference>
            </connector>
            <label>It is a template contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Account</name>
        <label>Same Account?</label>
        <locationX>1897</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>Update_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Template_Contract_Different_Territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseServiceContract_Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Template</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Service_Territory__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CaseServiceContract_Record.Service_Territory__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Wrong_Template</targetReference>
            </connector>
            <label>Template Contract Different Territory</label>
        </rules>
        <rules>
            <name>Template_Contract_Same_Territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Service_Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CaseServiceContract_Record.Service_Territory__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseServiceContract_Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Template</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Description</targetReference>
            </connector>
            <label>Template Contract Same Territory</label>
        </rules>
        <rules>
            <name>Not_Template_Different_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CaseServiceContract_Record.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Different_Account</targetReference>
            </connector>
            <label>Not Template Different Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Search_Selected</name>
        <label>Search Selected?</label>
        <locationX>872</locationX>
        <locationY>558</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cash_Account_Search_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SearchForExistingRecord_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Supplier_RT</targetReference>
            </connector>
            <label>Cash Account Search Selected</label>
        </rules>
        <rules>
            <name>Customer_Search_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_toCustomer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SearchForExistingRecord_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Supplier_RT</targetReference>
            </connector>
            <label>Customer Search Selected</label>
        </rules>
        <rules>
            <name>Cash_Account_No_search</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRTName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash_Account_RT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Would_you_like_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>KeepCreatedRecord_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Cash Account No search</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountListSelection</name>
        <dataType>String</dataType>
        <displayField>Account_Name_Account_Code__c</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Account_Name_Search</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SupplierRT.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContractList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Service_Territory__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>ServiceContract</object>
        <outputAssignments>
            <assignToReference>SelectedContract_Contact</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContract_End</assignToReference>
            <field>EndDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContract_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContract_City</assignToReference>
            <field>ShippingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContract_Country</assignToReference>
            <field>ShippingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContract_Postcode</assignToReference>
            <field>ShippingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContract_State</assignToReference>
            <field>ShippingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContract_Street</assignToReference>
            <field>ShippingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContract_Start</assignToReference>
            <field>StartDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContract_Type</assignToReference>
            <field>Type__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceContractTemplateChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Template</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Service_Territory__c</elementReference>
            </value>
        </filters>
        <object>ServiceContract</object>
        <outputAssignments>
            <assignToReference>SelectedContract_End</assignToReference>
            <field>EndDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContract_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContract_Address</assignToReference>
            <field>ShippingAddress</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContract_Start</assignToReference>
            <field>StartDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContract_Type</assignToReference>
            <field>Type__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkTypeList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>WorkType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>FSMF_CAS01_ReviewCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSMF_CAS01_ReviewCase</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>686</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>CaseAccount_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Customer_Status__c</queriedFields>
        <queriedFields>Pronto_Account_Code__c</queriedFields>
        <queriedFields>Industry</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>173</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Status_Check</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Tech_Email_to_Case__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Service_Contract__c</queriedFields>
        <queriedFields>Service_Territory__c</queriedFields>
        <queriedFields>Work_Type__c</queriedFields>
        <queriedFields>Site_Contact__c</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1150</locationX>
        <locationY>905</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_has_been_searched</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>CaseContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>684</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_RT</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseAccount_Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AccountRTName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Contract</name>
        <label>Get Service Contract</label>
        <locationX>1285</locationX>
        <locationY>572</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Info_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Service_Contract__c</elementReference>
            </value>
        </filters>
        <object>ServiceContract</object>
        <outputReference>CaseServiceContract_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>Service_Territory__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Supplier_RT</name>
        <label>Get Supplier RT</label>
        <locationX>874</locationX>
        <locationY>725</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Search_Screen</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier_Account_RT</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>SupplierRT</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>488</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Warning_not_Email_to_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.CreatedById</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>CaseCreatorUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>2847</locationX>
        <locationY>568</locationY>
        <inputReference>CaseRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>2681</locationX>
        <locationY>569</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <inputReference>CaseContact</inputReference>
    </recordUpdates>
    <screens>
        <name>Account_Search_Screen</name>
        <label>Account Search Screen</label>
        <locationX>872</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_New_Account</targetReference>
        </connector>
        <fields>
            <name>Account_Name_Search</name>
            <dataType>String</dataType>
            <fieldText>Account Name Search</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cash_Account_Display_Screen</name>
        <label>Cash Account Display Screen</label>
        <locationX>881</locationX>
        <locationY>366</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Search_Selected</targetReference>
        </connector>
        <fields>
            <name>CashAccountInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Review Case&#39;s Account&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Account Type&lt;/u&gt;: Cash Account&lt;/p&gt;&lt;p&gt;&lt;u&gt;Account Name&lt;/u&gt;: {!CaseAccount_Record.Name}&lt;/p&gt;&lt;p&gt;&lt;u&gt;Address&lt;/u&gt;: {!CaseAccount_Record.BillingStreet} {!CaseAccount_Record.BillingCity} {!CaseAccount_Record.BillingPostalCode} {!CaseAccount_Record.BillingState} {!CaseAccount_Record.BillingCountry}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Would_you_like_to</name>
            <choiceReferences>KeepCreatedRecord_Choice</choiceReferences>
            <choiceReferences>SearchForExistingRecord_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_Contract</name>
        <label>Confirm Contract</label>
        <locationX>1805</locationX>
        <locationY>726</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_it_a_template_contract</targetReference>
        </connector>
        <fields>
            <name>ConfirmContractInfo</name>
            <fieldText>&lt;p&gt;Confirm the selected Contract by reviewing the information below and click Next.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Name&lt;/u&gt;: {!SelectedContract_Name}&lt;/p&gt;&lt;p&gt;&lt;u&gt;Type&lt;/u&gt;: {!SelectedContract_Type}&lt;/p&gt;&lt;p&gt;&lt;u&gt;Start&lt;/u&gt;: {!SelectedContract_Start}&lt;/p&gt;&lt;p&gt;&lt;u&gt;End&lt;/u&gt;: {!SelectedContract_End}&lt;/p&gt;&lt;p&gt;&lt;u&gt;Address&lt;/u&gt;: {!SelectedContract_Street} {!SelectedContract_City} {!SelectedContract_Postcode} {!SelectedContract_State} {!SelectedContract_Country}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contact_Email_Screen</name>
        <label>Contact Email Screen</label>
        <locationX>1238</locationX>
        <locationY>817</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Email</targetReference>
        </connector>
        <fields>
            <name>Contact_Email_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseContact.Email</elementReference>
            </defaultValue>
            <fieldText>Contact Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contract_Info_Screen</name>
        <label>Contract Info Screen</label>
        <locationX>1468</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contract_Decision</targetReference>
        </connector>
        <fields>
            <name>ContractInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Review Case&#39;s Service Contract&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Contract Name&lt;/u&gt;: {!CaseServiceContract_Record.Name}&lt;/p&gt;&lt;p&gt;&lt;u&gt;Start&lt;/u&gt;: {!CaseServiceContract_Record.StartDate}&lt;/p&gt;&lt;p&gt;&lt;u&gt;End&lt;/u&gt;: {!CaseServiceContract_Record.EndDate}&lt;/p&gt;&lt;p&gt;&lt;u&gt;Type&lt;/u&gt;: {!CaseServiceContract_Record.Type__c}&lt;/p&gt;&lt;p&gt;&lt;u&gt;Site Address&lt;/u&gt;: {!CaseServiceContract_Record.ShippingStreet} {!CaseServiceContract_Record.ShippingCity} {!CaseServiceContract_Record.ShippingPostalCode} {!CaseServiceContract_Record.ShippingState} {!CaseServiceContract_Record.ShippingCountry}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Would_you_like_to_Contract</name>
            <choiceReferences>KeepCurrentContract_Choice</choiceReferences>
            <choiceReferences>SearchForContract</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Customer_Account_Screen</name>
        <label>Customer Account Screen</label>
        <locationX>677</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Search_Selected</targetReference>
        </connector>
        <fields>
            <name>CustomerInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Review Case&#39;s Account&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Account Code&lt;/u&gt;: {!CaseAccount_Record.Pronto_Account_Code__c}&lt;/p&gt;&lt;p&gt;&lt;u&gt;Account Name&lt;/u&gt;: {!CaseAccount_Record.Name}&lt;/p&gt;&lt;p&gt;&lt;u&gt;Customer Status&lt;/u&gt;: {!CaseAccount_Record.Customer_Status__c}&lt;/p&gt;&lt;p&gt;&lt;u&gt;Nature Of Business&lt;/u&gt;: {!CaseAccount_Record.Industry}&lt;/p&gt;&lt;p&gt;&lt;u&gt;Address&lt;/u&gt;: {!CaseAccount_Record.BillingStreet} {!CaseAccount_Record.BillingCity} {!CaseAccount_Record.BillingPostalCode} {!CaseAccount_Record.BillingState} {!CaseAccount_Record.BillingCountry}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Would_you_like_toCustomer</name>
            <choiceReferences>KeepExistingRecord</choiceReferences>
            <choiceReferences>SearchForExistingRecord_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Email_Screen</name>
        <label>Enter Email Screen</label>
        <locationX>2274</locationX>
        <locationY>812</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Email2</targetReference>
        </connector>
        <fields>
            <name>Contact_Email_Address2</name>
            <dataType>String</dataType>
            <fieldText>Contact Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Search_Contract_Screen</name>
        <label>Search Contract Screen</label>
        <locationX>1657</locationX>
        <locationY>739</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm_Contract</targetReference>
        </connector>
        <fields>
            <name>Select_Contract</name>
            <choiceReferences>ServiceContractTemplateChoice</choiceReferences>
            <choiceReferences>ContractList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Contract</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_New_Account</name>
        <label>Select New Account</label>
        <locationX>1008</locationX>
        <locationY>867</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <fields>
            <name>Select_Account</name>
            <choiceReferences>AccountListSelection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Account</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Description</name>
        <label>Update Description</label>
        <locationX>2336</locationX>
        <locationY>567</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Case_Description</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseRecord.Subject</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <stringValue>{!CaseRecord.Description}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Work_Type</name>
            <choiceReferences>WorkTypeList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Work Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WarmingCaseinProgress</name>
        <label>Warming Case in Progress</label>
        <locationX>312</locationX>
        <locationY>248</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CaseInProgressMessage</name>
            <fieldText>&lt;p&gt;The case is currently in progress, you cannot review the case anymore from the mobile app.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_Different_Account</name>
        <label>Warning Different Account</label>
        <locationX>1901</locationX>
        <locationY>349</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contract_Info_Screen</targetReference>
        </connector>
        <fields>
            <name>WarningDifferentAccountMEssage</name>
            <fieldText>&lt;p&gt;You cannot keep the existing contract as the related account is different on the Service Contract and the Case.&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please return to the previous screen and select &#39;&lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Search for a different contract&lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;&#39;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning_not_Email_to_Case</name>
        <label>Warning not Email to Case</label>
        <locationX>483</locationX>
        <locationY>338</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotEmail2CaseWarning</name>
            <fieldText>&lt;p&gt;Case {!CaseRecord.CaseNumber} has not been created by the call center. Please call {!CaseCreatorUser.FirstName} {!CaseCreatorUser.LastName} on {!CaseCreatorUser.MobilePhone} who created the case to modify the case.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_Wrong_Template</name>
        <label>Warning Wrong Template</label>
        <locationX>1770</locationX>
        <locationY>363</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contract_Info_Screen</targetReference>
        </connector>
        <fields>
            <name>WrongTemplateMessage</name>
            <fieldText>&lt;p&gt;You cannot keep this contract as the Service Territory of this Contract is different from the account Service Territory.&lt;/p&gt;&lt;p&gt;Please return to the previous screen and select &#39;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Search for a different contract&lt;/b&gt;&#39;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Case</startElementReference>
    <status>Draft</status>
    <variables>
        <name>AccountRTName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseAccount_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CaseContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CaseCreatorUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseServiceContract_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceContract</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedContract_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedContract_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedContract_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedContract_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedContract_End</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedContract_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedContract_Postcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedContract_Start</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedContract_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedContract_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedContract_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupplierRT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
