force-app/main/default/flows/FSMF_SAP01_StatusChangeAndTimestamp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Status</name>
        <label>Assign Status</label>
        <locationX>827</locationX>
        <locationY>1067</locationY>
        <assignmentItems>
            <assignToReference>SA_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Arrived Onsite</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA_Record.Arrived_Onsite_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Arrived_Onsite_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cannot_Complete_Assignment</name>
        <label>Cannot Complete Assignment</label>
        <locationX>522</locationX>
        <locationY>1701</locationY>
        <assignmentItems>
            <assignToReference>SA_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA_Record.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Finish_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA_Record.Cannot_Complete_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cannot_Complete_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA_Record.Work_Order_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Resolution_Time</name>
        <label>Resolution Time</label>
        <locationX>699</locationX>
        <locationY>1196</locationY>
        <assignmentItems>
            <assignToReference>SA_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA_Record.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resolution_Time_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA_Record.Work_Order_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Work_Order_completed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SA_Accepted</name>
        <label>Update SA Accepted</label>
        <locationX>98</locationX>
        <locationY>1120</locationY>
        <assignmentItems>
            <assignToReference>SA_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SA_Rejected</name>
        <label>Update SA Rejected</label>
        <locationX>222</locationX>
        <locationY>790</locationY>
        <assignmentItems>
            <assignToReference>SA_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA_Record.Rejection_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rejection_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA_Record.Rejection_Other_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SA_to_In_Progress</name>
        <label>Update SA to In Progress</label>
        <locationX>566</locationX>
        <locationY>939</locationY>
        <assignmentItems>
            <assignToReference>SA_Record.ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_Progress_Start_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WO_Assignment</name>
        <label>WO Assignment</label>
        <locationX>1380</locationX>
        <locationY>567</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WO</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Accept</name>
        <choiceText>Accept</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accepted</stringValue>
        </value>
    </choices>
    <choices>
        <name>ArrivedOnsite</name>
        <choiceText>Arrived Onsite</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Arrived Onsite</stringValue>
        </value>
    </choices>
    <choices>
        <name>AwaitingCustomerPO</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Awaiting Customer PO&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Awaiting Customer PO</stringValue>
        </value>
    </choices>
    <choices>
        <name>CannotComplete</name>
        <choiceText>Cannot Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cannot Complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>InProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Choice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reject</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Open_PO</name>
        <label>Check Open PO</label>
        <locationX>1088</locationX>
        <locationY>1548</locationY>
        <defaultConnector>
            <targetReference>PO_provided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>open_PO_detected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpenPO.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>PO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Open_PO_Screen</targetReference>
            </connector>
            <label>open PO detected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Open_SA</name>
        <label>Check Open SA</label>
        <locationX>1083</locationX>
        <locationY>1411</locationY>
        <defaultConnector>
            <targetReference>get_Open_POS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>There_are_other_Open_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherOpenSAId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>08p</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Open_SA</targetReference>
            </connector>
            <label>There are other Open SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_Accepted</name>
        <label>Decision on Accepted</label>
        <locationX>600</locationX>
        <locationY>461</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accepted2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Accept</elementReference>
                </rightValue>
            </conditions>
            <label>Accepted2</label>
        </rules>
        <rules>
            <name>Rejected2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejection_Reason_Screen</targetReference>
            </connector>
            <label>Rejected2</label>
        </rules>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InProgress</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_Progress_Time_Screen</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_Dispatch</name>
        <label>Decision on Dispatch</label>
        <locationX>92</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accepted1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Accept_Reject1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Accept</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA_Accepted</targetReference>
            </connector>
            <label>Accepted1</label>
        </rules>
        <rules>
            <name>Rejected1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Accept_Reject1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejection_Reason_Screen</targetReference>
            </connector>
            <label>Rejected1</label>
        </rules>
        <rules>
            <name>In_Progress2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Accept_Reject1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InProgress</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_Progress_Time_Screen</targetReference>
            </connector>
            <label>In Progress2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_Onsite</name>
        <label>Decision on Onsite</label>
        <locationX>1163</locationX>
        <locationY>1145</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Completed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed_Timestamp</targetReference>
            </connector>
            <label>Completed Selected</label>
        </rules>
        <rules>
            <name>Cannot_Complete_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CannotComplete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Complete_Screen</targetReference>
            </connector>
            <label>Cannot Complete Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_customer_uses_pre_purchased_hours</name>
        <label>Does customer uses pre purchased hours?</label>
        <locationX>1180</locationX>
        <locationY>669</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_can_use</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord.Current_PrePurchase_Hours_Balance__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord.Use_Pre_purchased_Hours__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Use_Pre_purchase_Hours_screen</targetReference>
            </connector>
            <label>Customer can use</label>
        </rules>
        <rules>
            <name>Customer_does_not_have_hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord.Current_PrePurchase_Hours_Balance__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord.Use_Pre_purchased_Hours__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_to_NA</targetReference>
            </connector>
            <label>Customer does not have hours</label>
        </rules>
        <rules>
            <name>Customer_has_already_decided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord.Use_Pre_purchased_Hours__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_on_Onsite</targetReference>
            </connector>
            <label>Customer has already decided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_WO_completed</name>
        <label>Is WO completed?</label>
        <locationX>875</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Resolution_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesWOcompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Work_Order_completed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Other_Open_SA</targetReference>
            </connector>
            <label>YesWOcompleted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Onsite_Status</name>
        <label>Onsite Status ?</label>
        <locationX>740</locationX>
        <locationY>976</locationY>
        <defaultConnector>
            <targetReference>Update_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Onsite_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ArrivedOnsite</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onsite_Timestamp_Screen</targetReference>
            </connector>
            <label>Onsite Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>PO_provided</name>
        <label>PO provided?</label>
        <locationX>772</locationX>
        <locationY>1510</locationY>
        <defaultConnector>
            <targetReference>Resolution_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PO_Provided_By_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_PO_NumberNew</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateWOPONumber</targetReference>
            </connector>
            <label>PO Provided By Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rejection_Other</name>
        <label>Rejection Other</label>
        <locationX>393</locationX>
        <locationY>713</locationY>
        <defaultConnector>
            <targetReference>Update_SA_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rejection_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Reason_screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Check</name>
        <label>Status Check</label>
        <locationX>660</locationX>
        <locationY>68</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dispatched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcceptRejectScreen1</targetReference>
            </connector>
            <label>Dispatched</label>
        </rules>
        <rules>
            <name>Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accept_Reject_Screen2</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
        <rules>
            <name>In_Progress_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Arrived_Onsite_Screen</targetReference>
            </connector>
            <label>In Progress Status</label>
        </rules>
        <rules>
            <name>Arrived_Onsite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arrived Onsite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WO2</targetReference>
            </connector>
            <label>Arrived Onsite</label>
        </rules>
        <rules>
            <name>Completed_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA_Record.Work_Order_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord.Use_Pre_purchased_Hours__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WO_record</targetReference>
            </connector>
            <label>Completed WO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transaction_captured</name>
        <label>Transaction captured?</label>
        <locationX>980</locationX>
        <locationY>307</locationY>
        <defaultConnector>
            <targetReference>Job_Detail_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Transaction_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_Record.Transaction_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Status_Screen</targetReference>
            </connector>
            <label>Transaction Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>WO_is_completed</name>
        <label>WO is completed</label>
        <locationX>1216</locationX>
        <locationY>322</locationY>
        <defaultConnector>
            <targetReference>Ready_to_Invoice_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WO_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_Status_Screen</targetReference>
            </connector>
            <label>WO completed</label>
        </rules>
        <rules>
            <name>WO_is_Awaiting_for_Customer_PO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Customer PO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WO_Assignment</targetReference>
            </connector>
            <label>WO is Awaiting for Customer PO</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CannotCompleteReasonValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cannot_Complete_Reason__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RejectionReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rejection_Reason__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UsePurchaseHoursChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Use_Pre_purchased_Hours__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkOrderCompletedChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Work_Order_Completed__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>FSMF_SAP01_StatusChangeAndTimestamp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSMF_SAP01_StatusChangeAndTimestamp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>get_Open_POS</name>
        <label>get Open POS</label>
        <locationX>1295</locationX>
        <locationY>1532</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Open_PO</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approval Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>Purchase_Order__c</object>
        <outputReference>OpenPO</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Other_Open_SA</name>
        <label>Get Other Open SA</label>
        <locationX>891</locationX>
        <locationY>1347</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Open_SA</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>CannotComplete</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>OtherSANumber</assignToReference>
            <field>AppointmentNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OtherOpenSAId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OtherSAResourceName</assignToReference>
            <field>Service_Resource_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>330</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Check</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SA_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ActualStartTime</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>Transaction_Completed__c</queriedFields>
        <queriedFields>ActualEndTime</queriedFields>
        <queriedFields>Work_Order_Completed__c</queriedFields>
        <queriedFields>Action_Taken__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WO2</name>
        <label>Get WO2</label>
        <locationX>889</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transaction_captured</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Current_PrePurchase_Hours_Balance__c</queriedFields>
        <queriedFields>Use_Pre_purchased_Hours__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_record</name>
        <label>Get WO record</label>
        <locationX>1216</locationX>
        <locationY>174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WO_is_completed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>564</locationX>
        <locationY>1111</locationY>
        <inputReference>SA_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO</name>
        <label>Update WO</label>
        <locationX>1326</locationX>
        <locationY>884</locationY>
        <inputReference>WorkOrderRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_to_NA</name>
        <label>Update WO to NA</label>
        <locationX>941</locationX>
        <locationY>710</locationY>
        <connector>
            <targetReference>Decision_on_Onsite</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Use_Pre_purchased_Hours__c</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateUseHoursOnWO</name>
        <label>UpdateUseHoursOnWO</label>
        <locationX>1071</locationX>
        <locationY>976</locationY>
        <connector>
            <targetReference>Decision_on_Onsite</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Use_Pre_purchased_Hours__c</field>
            <value>
                <elementReference>Use_Pre_purchase_hours</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWOPONumber</name>
        <label>UpdateWOPONumber</label>
        <locationX>594</locationX>
        <locationY>1481</locationY>
        <connector>
            <targetReference>Resolution_Time</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Purchase_Order_number__c</field>
            <value>
                <elementReference>Customer_PO_NumberNew</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>Accept_Reject_Screen2</name>
        <label>Accept Reject Screen2</label>
        <locationX>534</locationX>
        <locationY>316</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_on_Accepted</targetReference>
        </connector>
        <fields>
            <name>Status</name>
            <choiceReferences>Accept</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <choiceReferences>InProgress</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Accept</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AcceptRejectScreen1</name>
        <label>Accept Reject Screen</label>
        <locationX>263</locationX>
        <locationY>311</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_on_Dispatch</targetReference>
        </connector>
        <fields>
            <name>Accept_Reject1</name>
            <choiceReferences>Accept</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <choiceReferences>InProgress</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Accept / Reject</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Arrived_Onsite_Screen</name>
        <label>Arrived Onsite Screen</label>
        <locationX>777</locationX>
        <locationY>307</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Onsite_Status</targetReference>
        </connector>
        <fields>
            <name>Status1</name>
            <choiceReferences>InProgress</choiceReferences>
            <choiceReferences>ArrivedOnsite</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>InProgress</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cannot_Complete_Screen</name>
        <label>Cannot Complete Screen</label>
        <locationX>1433</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cannot_Complete_Assignment</targetReference>
        </connector>
        <fields>
            <name>Finish_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>SA_Record.ActualEndTime</elementReference>
            </defaultValue>
            <fieldText>Finish Date / Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cannot_Complete_Reason</name>
            <choiceReferences>CannotCompleteReasonValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cannot Complete Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Complete_Status_Screen</name>
        <label>Complete Status Screen</label>
        <locationX>922</locationX>
        <locationY>499</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Does_customer_uses_pre_purchased_hours</targetReference>
        </connector>
        <fields>
            <name>Status2</name>
            <choiceReferences>ArrivedOnsite</choiceReferences>
            <choiceReferences>Completed</choiceReferences>
            <choiceReferences>CannotComplete</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ArrivedOnsite</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Completed_Timestamp</name>
        <label>Completed Timestamp</label>
        <locationX>1005</locationX>
        <locationY>1168</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_WO_completed</targetReference>
        </connector>
        <fields>
            <name>Resolution_Time_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>SA_Record.ActualEndTime</elementReference>
            </defaultValue>
            <fieldText>Resolution Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_Work_Order_completed</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is Work Order completed?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_PO_NumberNew</name>
            <dataType>String</dataType>
            <fieldText>Customer Purchase Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>In_Progress_Time_Screen</name>
        <label>In Progress Time Screen</label>
        <locationX>569</locationX>
        <locationY>657</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_SA_to_In_Progress</targetReference>
        </connector>
        <fields>
            <name>In_Progress_Start_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>In Progress Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Job_Detail_Error_Message</name>
        <label>Job Detail Error Message</label>
        <locationX>1119</locationX>
        <locationY>265</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>User_Prompts</targetReference>
        </connector>
        <fields>
            <name>JobDetailTodo</name>
            <fieldText>&lt;p&gt;Are you sure you want to proceed without Capturing Transaction?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>JSEAScreen</name>
        <label>JSEAScreen</label>
        <locationX>930</locationX>
        <locationY>982</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Status</targetReference>
        </connector>
        <fields>
            <name>JSEAMessage</name>
            <fieldText>&lt;p&gt;Next Step:  Capture JSEA.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Last_Status_Screen</name>
        <label>Last Status Screen</label>
        <locationX>1227</locationX>
        <locationY>511</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WO_Assignment</targetReference>
        </connector>
        <fields>
            <name>Status3</name>
            <choiceReferences>Completed</choiceReferences>
            <choiceReferences>AwaitingCustomerPO</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Completed</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Onsite_Timestamp_Screen</name>
        <label>Onsite Timestamp Screen</label>
        <locationX>833</locationX>
        <locationY>839</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>JSEAScreen</targetReference>
        </connector>
        <fields>
            <name>Arrived_Onsite_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Arrived Onsite Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Other_Reason_screen</name>
        <label>Other Reason screen</label>
        <locationX>416</locationX>
        <locationY>844</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_SA_Rejected</targetReference>
        </connector>
        <fields>
            <name>Other_Reason</name>
            <dataType>String</dataType>
            <fieldText>Other Reason</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ready_to_Invoice_Screen</name>
        <label>Ready to Invoice Screen</label>
        <locationX>1537</locationX>
        <locationY>250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishMessage</name>
            <fieldText>&lt;p&gt;The work order status is &apos;Ready To Invoice&apos;. The finance team is following up with this work order payment. &lt;/p&gt;&lt;p&gt;Please call your finance team if you want more information on the payment.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Rejection_Reason_Screen</name>
        <label>Rejection Reason Screen</label>
        <locationX>398</locationX>
        <locationY>567</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Rejection_Other</targetReference>
        </connector>
        <fields>
            <name>Rejection_Reason</name>
            <choiceReferences>RejectionReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rejection Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Use_Pre_purchase_Hours_screen</name>
        <label>Use Pre purchase Hours screen</label>
        <locationX>1068</locationX>
        <locationY>821</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateUseHoursOnWO</targetReference>
        </connector>
        <fields>
            <name>BalanceDisplay</name>
            <fieldText>&lt;p&gt;&lt;u&gt;Current Pre-Purchased Hours Balance:&lt;/u&gt;&lt;/p&gt;&lt;p&gt;{!WorkOrderRecord.Current_PrePurchase_Hours_Balance__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Use_Pre_purchase_hours</name>
            <choiceReferences>UsePurchaseHoursChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Use Pre purchase hours</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_Prompts</name>
        <label>User Prompts</label>
        <locationX>1112</locationX>
        <locationY>432</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Complete_Status_Screen</targetReference>
        </connector>
        <fields>
            <name>UserPrompts</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Have you captured Job Details? &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_Open_PO_Screen</name>
        <label>Warning Open PO Screen</label>
        <locationX>1193</locationX>
        <locationY>1642</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Warning_Open_PO_Mssage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You cannot Complete the work order as some Purchase Orders are still waiting for approval: {!OpenPO.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning_Open_SA</name>
        <label>Warning Open SA</label>
        <locationX>1089</locationX>
        <locationY>1258</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WarningMessage</name>
            <fieldText>&lt;p&gt;You cannot Complete the work order as other Service Appointments are still opened: {!OtherSANumber} &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Service_Appointment</startElementReference>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpenPO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Order__c</objectType>
    </variables>
    <variables>
        <name>OtherOpenSAId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OtherSANumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OtherSAResourceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SA_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>WorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
