force-app/main/default/flows/FSMF_SAP07_CaptureAlternateTransaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_SA_values</name>
        <label>Assign SA values</label>
        <locationX>347</locationX>
        <locationY>598</locationY>
        <assignmentItems>
            <assignToReference>SA_Record.Transaction_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Resource_Name_Update</name>
        <label>Resource Name Update</label>
        <locationX>1134</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>ResourceName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmployeeName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TimeInput</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Myself</name>
        <choiceText>Myself</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Myself</stringValue>
        </value>
    </choices>
    <choices>
        <name>SomeoneElse</name>
        <choiceText>Someone else</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SomeoneElse</stringValue>
        </value>
    </choices>
    <choices>
        <name>Technician_Choice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Technician&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technician</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Billable_Vs_Actual</name>
        <label>Billable Vs Actual</label>
        <locationX>614</locationX>
        <locationY>517</locationY>
        <defaultConnector>
            <targetReference>Reason_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Billable_equals_Actual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActualHoursFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Billable_Hours</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_WOLI</targetReference>
            </connector>
            <label>Billable equals Actual</label>
        </rules>
    </decisions>
    <decisions>
        <name>Capturing_Manual_Transactions_Allowed</name>
        <label>Capturing Manual Transactions Allowed</label>
        <locationX>751</locationX>
        <locationY>781</locationY>
        <defaultConnector>
            <targetReference>Manual_Capture_Not_Allowed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Maual_Capture_Allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentServiceContract.Capture_Transactions_Alternative_Rate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actual_hours_Screen</targetReference>
            </connector>
            <label>Maual Capture Allowed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Resource_Name</name>
        <label>Check Resource Name</label>
        <locationX>1116</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>TimeInput</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resource_Name_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResourceName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resource_Name_Update</targetReference>
            </connector>
            <label>Resource Name is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Over_16_Hours</name>
        <label>Over 16 Hours</label>
        <locationX>840</locationX>
        <locationY>496</locationY>
        <defaultConnector>
            <targetReference>GetWO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Actual_Over_16_Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActualHoursFormula</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>16.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Screen_2</targetReference>
            </connector>
            <label>Actual Over 16 Hours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Resource_TYpe_Selected</name>
        <label>Resource TYpe Selected</label>
        <locationX>1103</locationX>
        <locationY>75</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Myself_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resource_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Myself</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TimeInput</targetReference>
            </connector>
            <label>Myself Selected</label>
        </rules>
        <rules>
            <name>SomeoneElse_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resource_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SomeoneElse</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Resource_Screen</targetReference>
            </connector>
            <label>SomeoneElse</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_Status</name>
        <label>SA Status</label>
        <locationX>481</locationX>
        <locationY>58</locationY>
        <defaultConnector>
            <targetReference>Get_Current_Service_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SA_Not_Started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA_Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA_Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Arrived Onsite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA_Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Started_Screen</targetReference>
            </connector>
            <label>SA Not Started</label>
        </rules>
        <rules>
            <name>Finished</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_Record.Status</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Complete_Screen</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Transaction_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_Record.Transaction_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transaction_done_screen</targetReference>
            </connector>
            <label>Transaction Completed</label>
        </rules>
        <rules>
            <name>Job_not_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_Record.Action_Taken__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Job_detail_message</targetReference>
            </connector>
            <label>Job not completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_before_End_Date</name>
        <label>Start before End Date?</label>
        <locationX>838</locationX>
        <locationY>347</locationY>
        <defaultConnector>
            <targetReference>Over_16_Hours</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Start_Before_End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Start_Date_Time</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>End_Date_Time</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Screen1</targetReference>
            </connector>
            <label>Start Before End</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PriceBookEntry</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WO_Record.Pricebook2Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>PricebookID.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PriceBookProductName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PriceBookEntryListPrice</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ResourceList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>sageautomation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Search_Name</elementReference>
            </value>
        </filters>
        <object>Employees__c</object>
        <outputAssignments>
            <assignToReference>EmployeeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmployeeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ResourceType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role__c</picklistField>
        <picklistObject>Employees__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceResourceList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Search_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>ResourceType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>T</stringValue>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>SRid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResourceName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>ActualHoursFormula</name>
        <dataType>Number</dataType>
        <expression>((CEILING((({!PointInTime} - {!Start_Date_Time}) * 24 * 60))) - (CEILING((({!PointInTime} - {!End_Date_Time}) * 24 * 60)))) / 60</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>OptimisedPriceBookEntry</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!PriceBookProductName},&quot;Silver -&quot;, &quot;&quot;),&quot;Gold -&quot;, &quot;&quot;),&quot;Bronze - &quot;,&quot;&quot;),&quot;Platinum -&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>UserName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}</expression>
    </formulas>
    <interviewLabel>FSMF_SAP07_CaptureAlternateTransaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSMF_SAP07_CaptureAlternateTransaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_WOLI</name>
        <label>Create WOLI</label>
        <locationX>459</locationX>
        <locationY>603</locationY>
        <connector>
            <targetReference>Assign_SA_values</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Actual_Hours__c</field>
            <value>
                <elementReference>ActualHoursFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billable_Hours_Update_Reason__c</field>
            <value>
                <elementReference>Billable_Hours_Update_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billable_Hours__c</field>
            <value>
                <elementReference>Billable_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>WO_Record.CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>OptimisedPriceBookEntry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
        </inputAssignments>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>EmployeeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>End_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manual_Override_Reason__c</field>
            <value>
                <stringValue>Manually overridden by system </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manual_Override__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>PricebookID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>Billable_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resource__c</field>
            <value>
                <elementReference>SRid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Contract__c</field>
            <value>
                <elementReference>WO_Record.ServiceContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Start_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!ResourceName} {!Start_Date_Time} {!End_Date_Time}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>PriceBookEntryListPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>SA_Record.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Service_Resource</name>
        <label>Get Current Service Resource</label>
        <locationX>714</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resource_Type_Selection</targetReference>
        </connector>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>SRid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResourceName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>353</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SA_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SA_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ActualStartTime</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>Transaction_Completed__c</queriedFields>
        <queriedFields>Action_Taken__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Contract</name>
        <label>Get Service Contract</label>
        <locationX>935</locationX>
        <locationY>802</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Capturing_Manual_Transactions_Allowed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WO_Record.ServiceContractId</elementReference>
            </value>
        </filters>
        <object>ServiceContract</object>
        <outputReference>CurrentServiceContract</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Capture_Transactions_Alternative_Rate__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetWO</name>
        <label>GetWO</label>
        <locationX>898</locationX>
        <locationY>656</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Contract</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WO_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceContractId</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>180</locationX>
        <locationY>601</locationY>
        <inputReference>SA_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Actual_hours_Screen</name>
        <label>Actual hours Screen</label>
        <locationX>744</locationX>
        <locationY>615</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Billable_Vs_Actual</targetReference>
        </connector>
        <fields>
            <name>StartTime</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Start:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Start_Date_Time}&lt;/p&gt;&lt;p&gt;&lt;b&gt;End Date/Time:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!End_Date_Time}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Actual Hours:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!ActualHoursFormula}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Billable_Hours</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ActualHoursFormula</elementReference>
            </defaultValue>
            <fieldText>Billable Hours</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>SelectPriceBookEntry</name>
            <choiceReferences>PriceBookEntry</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Pricebook Entry</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Capture_Job_detail_message</name>
        <label>Capture Job detail message</label>
        <locationX>519</locationX>
        <locationY>390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;Please capture the job details before capturing your time spent on the job.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Complete_Screen</name>
        <label>Error Complete Screen</label>
        <locationX>249</locationX>
        <locationY>435</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishedErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Transaction cannot be created after a service appointment is Completed/ Cannot Complete&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>460</locationX>
        <locationY>784</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Manual_Capture_Not_Allowed</name>
        <label>Manual Capture Not Allowed</label>
        <locationX>592</locationX>
        <locationY>863</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorCanNotCapture2</name>
            <fieldText>&lt;p&gt;Sorry, you cannot Capture Transaction with Alternative Rate on this service appointment. Please use the &quot;Capture Transaction&quot; feature&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_Started_Screen</name>
        <label>Not Started Screen</label>
        <locationX>391</locationX>
        <locationY>431</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorNotStartedMessage</name>
            <fieldText>&lt;p&gt;Sorry, you cannot create a transaction before starting working on the work order.&lt;/p&gt;&lt;p&gt;Please update the status of the service appointment to &apos;Arrived Onsite&apos;, perform JSEA and capture job details in order to create a transaction.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current Service Appointment status = {!SA_Record.Status}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reason_Screen</name>
        <label>Reason Screen</label>
        <locationX>614</locationX>
        <locationY>642</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_WOLI</targetReference>
        </connector>
        <fields>
            <name>Billable_Hours_Update_Reason</name>
            <fieldText>Billable Hours Update Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Resource_Type_Selection</name>
        <label>Resource Type Selection</label>
        <locationX>848</locationX>
        <locationY>75</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Resource_TYpe_Selected</targetReference>
        </connector>
        <fields>
            <name>Resource_Type</name>
            <choiceReferences>Myself</choiceReferences>
            <choiceReferences>SomeoneElse</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Myself</defaultSelectedChoiceReference>
            <fieldText>Resource Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Search_Resource_Screen</name>
        <label>Search Resource Screen</label>
        <locationX>1297</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Technician_Screen</targetReference>
        </connector>
        <fields>
            <name>Search_Name</name>
            <dataType>String</dataType>
            <fieldText>Search Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Technician_Screen</name>
        <label>Select Technician Screen</label>
        <locationX>1297</locationX>
        <locationY>240</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Resource_Name</targetReference>
        </connector>
        <fields>
            <name>Technician</name>
            <choiceReferences>ServiceResourceList</choiceReferences>
            <choiceReferences>ResourceList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Technician</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TimeInput</name>
        <label>TimeInput</label>
        <locationX>846</locationX>
        <locationY>209</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Start_before_End_Date</targetReference>
        </connector>
        <fields>
            <name>FormatMessage</name>
            <fieldText>&lt;p&gt;Please input 15 minutes interval &lt;b&gt;:00, :15, :30, :45&lt;/b&gt; when capturing the Start Date/Time and End Date/Time.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>SA_Record.ActualStartTime</elementReference>
            </defaultValue>
            <fieldText>Start Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please round the time to 15minutes (:00, :15, :30, :45)&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>SA_Record.ActualStartTime</elementReference>
            </defaultValue>
            <fieldText>End Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please round the time to 15minutes (:00, :15, :30, :45)&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Transaction_done_screen</name>
        <label>Transaction done screen</label>
        <locationX>666</locationX>
        <locationY>328</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Current_Service_Resource</targetReference>
        </connector>
        <fields>
            <name>TransactionDoneMessage</name>
            <fieldText>&lt;p&gt;You have already created a transaction, &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;To update your time on the existing transaction, open the Work Order Line Item on the home page and select Edit Transaction from the lightning bolt (IOS) or Action Menu (Android).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Otherwise, click Next to create a new transaction.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning_Screen1</name>
        <label>Warning Screen1</label>
        <locationX>753</locationX>
        <locationY>241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TimeInput</targetReference>
        </connector>
        <fields>
            <name>Warning1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Start Date cannot be after End Date. Please update Start and End Date.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning_Screen_2</name>
        <label>Warning Screen 2</label>
        <locationX>943</locationX>
        <locationY>367</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TimeInput</targetReference>
        </connector>
        <fields>
            <name>Warning2</name>
            <fieldText>&lt;p&gt;According to HR Policy you cannot work over 16 hours in 1 time.&lt;/p&gt;&lt;p&gt;Please update your time or create multiple transactions.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_SA</startElementReference>
    <status>Active</status>
    <variables>
        <name>CurrentServiceContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceContract</objectType>
    </variables>
    <variables>
        <name>EmployeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmployeeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PointInTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateTimeValue>1989-12-31T13:00:00.000Z</dateTimeValue>
        </value>
    </variables>
    <variables>
        <name>PriceBookEntryListPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PricebookID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>PriceBookProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResourceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SA_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>SRid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WO_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
