force-app/main/default/flows/FSMF_SAP02_CaptureJobDetails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_JSEA_number</name>
        <label>Assign JSEA number</label>
        <locationX>615</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>SA_Record.JSEA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JSEA_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA_JSEA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initial_Findings_Assignment</name>
        <label>Initial Findings Assignment</label>
        <locationX>1152</locationX>
        <locationY>420</locationY>
        <assignmentItems>
            <assignToReference>WORecord.Initial_Findings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Initial_FindingsWO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA_Record.Initial_Findings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Initial_FindingsWO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WORecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubjectTxtArea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA_Record.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubjectTxtArea</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_Taken_provided</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SA_Assignment</name>
        <label>SA Assignment</label>
        <locationX>592</locationX>
        <locationY>445</locationY>
        <assignmentItems>
            <assignToReference>SA_Record.Suggested_Follow_up__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Suggested_Follow_up</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA_Record.Action_Taken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Action_Taken</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA_Record.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubjectTxtArea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WORecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubjectTxtArea</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WO2</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No_Choice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Action_Taken_provided</name>
        <label>Action Taken provided?</label>
        <locationX>1022</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Action_taken_decision_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Action_taken_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_Record.Action_Taken__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_Taken_Screen</targetReference>
            </connector>
            <label>Action taken populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Capture_Action_Decision</name>
        <label>Capture Action Decision</label>
        <locationX>749</locationX>
        <locationY>609</locationY>
        <defaultConnector>
            <targetReference>Update_WO_initial_findings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Capture_Action_taken</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Capture_Action_Taken_now</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_Taken_Screen</targetReference>
            </connector>
            <label>Capture Action taken</label>
        </rules>
    </decisions>
    <decisions>
        <name>Initial_Findings_already_populated</name>
        <label>Initial Findings already populated?</label>
        <locationX>989</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>Initial_Finding_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WORecord.Initial_Findings__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA_Record.Initial_Findings__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initial_Findings_Screen</targetReference>
            </connector>
            <label>Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_is_Arrived_Onsite</name>
        <label>Status is Arrived Onsite?</label>
        <locationX>313</locationX>
        <locationY>61</locationY>
        <defaultConnector>
            <targetReference>Error_Message_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Arrived_Onsite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arrived Onsite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Order</targetReference>
            </connector>
            <label>Arrived Onsite</label>
        </rules>
    </decisions>
    <interviewLabel>FSMF_SAP02_CaptureJobDetails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSMF_SAP02_CaptureJobDetails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>161</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_is_Arrived_Onsite</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SA_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>Initial_Findings__c</queriedFields>
        <queriedFields>Action_Taken__c</queriedFields>
        <queriedFields>Suggested_Follow_up__c</queriedFields>
        <queriedFields>JSEA__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>474</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>JSEA_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WORecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Action_Taken__c</queriedFields>
        <queriedFields>Suggested_Follow_up__c</queriedFields>
        <queriedFields>Initial_Findings__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>307</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Post_Job_Photos</targetReference>
        </connector>
        <inputReference>SA_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_initial_Findings</name>
        <label>Update SA initial Findings</label>
        <locationX>457</locationX>
        <locationY>615</locationY>
        <inputReference>SA_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_JSEA</name>
        <label>Update SA JSEA</label>
        <locationX>626</locationX>
        <locationY>68</locationY>
        <connector>
            <targetReference>Subject_Screen</targetReference>
        </connector>
        <inputReference>SA_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO2</name>
        <label>Update WO2</label>
        <locationX>463</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
        <inputReference>WORecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_initial_findings</name>
        <label>Update WO initial findings</label>
        <locationX>597</locationX>
        <locationY>613</locationY>
        <connector>
            <targetReference>Update_SA_initial_Findings</targetReference>
        </connector>
        <inputReference>WORecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Action_taken_decision_screen</name>
        <label>Action taken decision screen</label>
        <locationX>865</locationX>
        <locationY>612</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Capture_Action_Decision</targetReference>
        </connector>
        <fields>
            <name>Capture_Action_Taken_now</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Capture &quot;Action Taken&quot; now?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Action_Taken_Screen</name>
        <label>Action Taken Screen</label>
        <locationX>853</locationX>
        <locationY>454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Suggested_Follow_Up_Screen</targetReference>
        </connector>
        <fields>
            <name>Action_Taken_WO</name>
            <fieldText>&lt;p&gt;&lt;u&gt;Action Taken:&lt;/u&gt;&lt;/p&gt;&lt;p&gt;{!WORecord.Action_Taken__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Action_Taken</name>
            <defaultValue>
                <stringValue>{!SA_Record.Action_Taken__c}</stringValue>
            </defaultValue>
            <fieldText>Action Taken</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message_Screen</name>
        <label>Error Message_Screen</label>
        <locationX>319</locationX>
        <locationY>248</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;Please update the service appointment status to &#39;Arrived Onsite&#39;  and perform JSEA to capture job details.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current service appointment status = {!SA_Record.Status}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Initial_Finding_Screen</name>
        <label>Initial Finding Screen WO</label>
        <locationX>1001</locationX>
        <locationY>408</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Initial_Findings_Assignment</targetReference>
        </connector>
        <fields>
            <name>Initial_FindingsWO</name>
            <defaultValue>
                <stringValue>{!WORecord.Initial_Findings__c}</stringValue>
            </defaultValue>
            <fieldText>Initial Findings</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Initial_Findings_Screen</name>
        <label>Initial Findings Screen</label>
        <locationX>858</locationX>
        <locationY>316</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Action_Taken_Screen</targetReference>
        </connector>
        <fields>
            <name>InitialFindingsWO</name>
            <fieldText>&lt;p&gt;&lt;u&gt;Initial Findings:&lt;/u&gt;&lt;/p&gt;&lt;p&gt;{!WORecord.Initial_Findings__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>JSEA_Screen</name>
        <label>JSEA Screen</label>
        <locationX>466</locationX>
        <locationY>225</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_JSEA_number</targetReference>
        </connector>
        <fields>
            <name>JSEA_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SA_Record.JSEA__c</elementReference>
            </defaultValue>
            <fieldText>JSEA Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Post_Job_Photos</name>
        <label>Post Job Photos</label>
        <locationX>158</locationX>
        <locationY>459</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Postphotos</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Post Job Photos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>WORecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pre_Photos_Screen</name>
        <label>Pre Photos Screen</label>
        <locationX>863</locationX>
        <locationY>190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Initial_Findings_already_populated</targetReference>
        </connector>
        <fields>
            <name>PreJobPhotos</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Capture pre job photos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>WORecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Subject_Screen</name>
        <label>Subject Screen</label>
        <locationX>861</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pre_Photos_Screen</targetReference>
        </connector>
        <fields>
            <name>SubjectTxtArea</name>
            <defaultValue>
                <stringValue>{!WORecord.Subject}</stringValue>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reported_Fault_WO2</name>
            <fieldText>&lt;p&gt;&lt;u&gt;﻿Reported Fault:&lt;/u&gt;&lt;/p&gt;&lt;p&gt;{!WORecord.Description}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Suggested_Follow_Up_Screen</name>
        <label>Suggested Follow Up Screen</label>
        <locationX>718</locationX>
        <locationY>447</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SA_Assignment</targetReference>
        </connector>
        <fields>
            <name>Suggested_Follow_Up_WO</name>
            <fieldText>&lt;p&gt;&lt;u&gt;﻿Suggested Follow-up:&lt;/u&gt;&lt;/p&gt;&lt;p&gt;{!Suggested_Follow_up}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Suggested_Follow_up</name>
            <defaultValue>
                <stringValue>{!SA_Record.Suggested_Follow_up__c}</stringValue>
            </defaultValue>
            <fieldText>Suggested Follow-up</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_SA</startElementReference>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SA_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>WOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WORecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
