force-app/main/default/flows/FSMF_POR01_EditPO_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Employee_Name</name>
        <label>Assign Employee Name</label>
        <locationX>302</locationX>
        <locationY>1665</locationY>
        <assignmentItems>
            <assignToReference>Single_POLI_record.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmployeeName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_POLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_for_deletiom</name>
        <label>Assign for deletiom</label>
        <locationX>308</locationX>
        <locationY>1485</locationY>
        <assignmentItems>
            <assignToReference>Single_POLI_record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_select_an_action</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_Update_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_Status</name>
        <label>Assign new Status</label>
        <locationX>1213</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>PO_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recalled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PO_to_Recall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_POLI_on_Create</name>
        <label>Assign POLI on Create</label>
        <locationX>483</locationX>
        <locationY>1849</locationY>
        <assignmentItems>
            <assignToReference>Single_POLI_record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_PO_RT4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_POLI_on_Edit</name>
        <label>Assign POLI on Edit</label>
        <locationX>573</locationX>
        <locationY>2011</locationY>
        <assignmentItems>
            <assignToReference>Single_POLI_record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_POLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_POLI_values</name>
        <label>Assign POLI values</label>
        <locationX>1113</locationX>
        <locationY>1984</locationY>
        <assignmentItems>
            <assignToReference>Single_POLI_record.Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cost_per_Hour</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI_record.Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI_record.End_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI_record.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actual_Hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI_record.Purchase_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI_record.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HRS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI_record.Tax_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI_record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>POLIgroupLabour_RT_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI_record.Date_Expected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Or_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Supplier_POLI_values</name>
        <label>Assign Supplier POLI values</label>
        <locationX>750</locationX>
        <locationY>1852</locationY>
        <assignmentItems>
            <assignToReference>Single_POLI_record.Supplier_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supplier_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI_record.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI_record.Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI_record.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI_record.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Units</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI_record.Tax_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tax_Rate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI_record.Date_Expected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Expected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI_record.Purchase_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI_record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>POLISupplierRT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Or_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_POLI_variables</name>
        <label>Clear POLI variables</label>
        <locationX>995</locationX>
        <locationY>983</locationY>
        <assignmentItems>
            <assignToReference>POLI_Cost</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLI_DateExpected</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLI_Description</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLI_SupplierCode</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLI_Quantity</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLI_TaxRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Supplier_Line_Item_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reinitialise_Variable</name>
        <label>Reinitialise Variable</label>
        <locationX>118</locationX>
        <locationY>1291</locationY>
        <assignmentItems>
            <assignToReference>Single_POLI_record</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Selection_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Cancel</name>
        <choiceText>Cancel PO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create</name>
        <choiceText>Create a new line item</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete</name>
        <choiceText>Delete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Edit</name>
        <choiceText>Edit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Edit</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_PO_RT</name>
        <label>Check PO RT</label>
        <locationX>1024</locationX>
        <locationY>808</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Supplier_PO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PO_Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PO_Supplier_RT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_POLI_variables</targetReference>
            </connector>
            <label>Supplier PO</label>
        </rules>
        <rules>
            <name>Internal_Group_PO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PO_Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PO_InternalGroup_RT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resource_Search_Screen</targetReference>
            </connector>
            <label>Internal Group PO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PO_RT2</name>
        <label>Check PO RT2</label>
        <locationX>466</locationX>
        <locationY>1122</locationY>
        <defaultConnector>
            <targetReference>Time_Input_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PO_Is_Supplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PO_Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PO_Supplier_RT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Supplier_Line_Item_Screen</targetReference>
            </connector>
            <label>PO Is Supplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PO_RT3</name>
        <label>Check PO RT3</label>
        <locationX>904</locationX>
        <locationY>1856</locationY>
        <defaultConnector>
            <targetReference>Assign_POLI_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_action_would_you_like_to_perform_on_the_record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Delete</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Please_select_an_action</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Create</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_POLI</targetReference>
            </connector>
            <label>Delete Selected</label>
        </rules>
        <rules>
            <name>PO_RT_is_supplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PO_Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PO_Supplier_RT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Supplier_POLI_values</targetReference>
            </connector>
            <label>PO RT is supplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PO_RT4</name>
        <label>Check PO RT4</label>
        <locationX>363</locationX>
        <locationY>1840</locationY>
        <defaultConnector>
            <targetReference>Assign_Employee_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PO_Is_supplier2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PO_Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PO_Supplier_RT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_POLI</targetReference>
            </connector>
            <label>PO Is supplier2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>515</locationX>
        <locationY>372</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Waiting_Pronto_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PO_Record.Integration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting Confirmation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Awaiting_Integration_Warining</targetReference>
            </connector>
            <label>Waiting Pronto Response</label>
        </rules>
        <rules>
            <name>ApprovalPending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PO_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approval_Process_Record</targetReference>
            </connector>
            <label>Approval Pending</label>
        </rules>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PO_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CancelScreen</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Recalled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PO_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recalled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approval_Process_Record</targetReference>
            </connector>
            <label>Recalled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status2</name>
        <label>Check Status2</label>
        <locationX>897</locationX>
        <locationY>1705</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approval_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PO_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA</targetReference>
            </connector>
            <label>Approval Pending</label>
        </rules>
        <rules>
            <name>Recalled_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PO_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recalled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_PO_RT3</targetReference>
            </connector>
            <label>Recalled Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_3</name>
        <label>Check Status 3</label>
        <locationX>1158</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>Update_PO_from_Approved_to_Cancelled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_ApprovalPending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PO_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA2</targetReference>
            </connector>
            <label>Status = Approval Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>confirmation</name>
        <label>confirmation</label>
        <locationX>827</locationX>
        <locationY>220</locationY>
        <defaultConnector>
            <targetReference>Check_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancellation_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_sure_to_cancel_the_PO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancellation_Reason_Screen</targetReference>
            </connector>
            <label>Cancellation Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Or_Update</name>
        <label>Create Or Update</label>
        <locationX>741</locationX>
        <locationY>2013</locationY>
        <defaultConnector>
            <targetReference>Assign_POLI_on_Edit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Line_Item_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_an_action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_POLI_on_Create</targetReference>
            </connector>
            <label>Line Item Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Edit_Or_Delete</name>
        <label>Edit Or Delete</label>
        <locationX>339</locationX>
        <locationY>1125</locationY>
        <defaultConnector>
            <targetReference>Assign_for_deletiom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Edit_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_action_would_you_like_to_perform_on_the_record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Edit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_PO_RT2</targetReference>
            </connector>
            <label>Edit Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_Update</name>
        <label>More Update?</label>
        <locationX>138</locationX>
        <locationY>2020</locationY>
        <defaultConnector>
            <targetReference>Resubmit_PO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_More_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_need_to_perform_more_updates</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reinitialise_Variable</targetReference>
            </connector>
            <label>Yes More Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Before_End_Date</name>
        <label>Start Before End Date?</label>
        <locationX>1022</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Actual_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Start_Before_End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Start_Date</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>End_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_on_Start_End</targetReference>
            </connector>
            <label>Start Before End</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Selection</name>
        <label>What Selection?</label>
        <locationX>846</locationX>
        <locationY>800</locationY>
        <defaultConnector>
            <targetReference>Action_Type_On_record_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancel_PO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_an_action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cancel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CancelScreen</targetReference>
            </connector>
            <label>Cancel PO</label>
        </rules>
        <rules>
            <name>Create_New_POLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_an_action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_PO_RT</targetReference>
            </connector>
            <label>Create New POLI</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>EmployeeList</name>
        <dataType>String</dataType>
        <displayField>Name_Role__c</displayField>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PO_Record.Supplier__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Resource_Search</elementReference>
            </value>
        </filters>
        <object>Employees__c</object>
        <outputAssignments>
            <assignToReference>EmployeeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>POLIList</name>
        <dataType>String</dataType>
        <displayField>Edit_POLI_Description__c</displayField>
        <filters>
            <field>Purchase_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>Purchase_Order_Line_Item__c</object>
        <outputAssignments>
            <assignToReference>POLI_Cost</assignToReference>
            <field>Cost__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>POLI_DateExpected</assignToReference>
            <field>Date_Expected__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>POLI_Description</assignToReference>
            <field>Description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>POLI_EndTime</assignToReference>
            <field>End_Date_Time__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>POLI_Quantity</assignToReference>
            <field>Quantity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>POLI_StartTime</assignToReference>
            <field>Start_Date_Time__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>POLI_SupplierCode</assignToReference>
            <field>Supplier_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>POLI_TaxRate</assignToReference>
            <field>Tax_Rate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>POLI_Units</assignToReference>
            <field>Units__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Unit_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Units__c</picklistField>
        <picklistObject>Purchase_Order_Line_Item__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>ActualHoursFormula</name>
        <dataType>Number</dataType>
        <expression>((CEILING((({!PointInTime} - {!Start_Date}) * 24 * 60))) - (CEILING((({!PointInTime} - {!End_Date}) * 24 * 60)))) / 60</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>FSMF_POR01_EditPO_v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSMF_POR01_EditPO_v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_POLI</name>
        <label>Create POLI</label>
        <locationX>208</locationX>
        <locationY>1825</locationY>
        <connector>
            <targetReference>More_Update</targetReference>
        </connector>
        <inputReference>Single_POLI_record</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_POLI</name>
        <label>Delete POLI</label>
        <locationX>581</locationX>
        <locationY>2377</locationY>
        <connector>
            <targetReference>More_Update</targetReference>
        </connector>
        <inputReference>Single_POLI_record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Approval_Process_Record</name>
        <label>Get Approval Process Record</label>
        <locationX>498</locationX>
        <locationY>559</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Item</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ProcessInstance</object>
        <outputReference>ProcessInstance_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>TargetObjectId</queriedFields>
        <queriedFields>ProcessDefinitionId</queriedFields>
        <queriedFields>CompletedDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PO</name>
        <label>Get PO</label>
        <locationX>389</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>Purchase_Order__c</object>
        <outputReference>PO_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Service_Appointment__c</queriedFields>
        <queriedFields>Supplier__c</queriedFields>
        <queriedFields>Integration_Status__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PO_Internal_Group_RT</name>
        <label>Get PO Internal Group RT</label>
        <locationX>445</locationX>
        <locationY>714</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_POLI_Supplier_RT</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InternalGroupLabour_PurchaseOrder_RT</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PO_InternalGroup_RT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PO_Supplier_RT</name>
        <label>Get PO Supplier RT</label>
        <locationX>298</locationX>
        <locationY>724</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PO_Internal_Group_RT</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier_PurchaseOrder_RT</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PO_Supplier_RT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_POLI_Labour_RT</name>
        <label>Get POLI Labour RT</label>
        <locationX>718</locationX>
        <locationY>687</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Selection</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InternalGroupLabour_PurchaseOrderLineItem_RT</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>POLIgroupLabour_RT_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_POLI_Supplier_RT</name>
        <label>Get POLI Supplier RT</label>
        <locationX>585</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_POLI_Labour_RT</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier_PurchaseOrderLineItem_RT</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>POLISupplierRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Item</name>
        <label>Get Work Item</label>
        <locationX>145</locationX>
        <locationY>555</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Selection_Screen</targetReference>
        </connector>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProcessInstance_Record.Id</elementReference>
            </value>
        </filters>
        <object>ProcessInstanceWorkitem</object>
        <outputAssignments>
            <assignToReference>WorkItemId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Resubmit_PO</name>
        <label>Resubmit PO</label>
        <locationX>146</locationX>
        <locationY>2242</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approval Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PO_from_Approved_to_Cancelled</name>
        <label>Update PO from Approved to Cancelled</label>
        <locationX>1314</locationX>
        <locationY>215</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancellation_Reason__c</field>
            <value>
                <elementReference>Cancellation_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PO_to_Recall</name>
        <label>Update PO to Recall</label>
        <locationX>1213</locationX>
        <locationY>1807</locationY>
        <connector>
            <targetReference>Check_Status2</targetReference>
        </connector>
        <inputReference>PO_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_POLI</name>
        <label>Update POLI</label>
        <locationX>417</locationX>
        <locationY>2024</locationY>
        <connector>
            <targetReference>More_Update</targetReference>
        </connector>
        <inputReference>Single_POLI_record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>1059</locationX>
        <locationY>1686</locationY>
        <connector>
            <targetReference>Assign_new_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PO_Record.Service_Appointment__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Recall_PO_WorkItem_Id__c</field>
            <value>
                <elementReference>WorkItemId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA2</name>
        <label>Update SA2</label>
        <locationX>1235</locationX>
        <locationY>444</locationY>
        <connector>
            <targetReference>Update_PO_from_Approved_to_Cancelled</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PO_Record.Service_Appointment__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Recall_PO_WorkItem_Id__c</field>
            <value>
                <elementReference>WorkItemId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Action_Type_On_record_Screen</name>
        <label>Action Type On record Screen</label>
        <locationX>494</locationX>
        <locationY>826</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Edit_Or_Delete</targetReference>
        </connector>
        <fields>
            <name>What_action_would_you_like_to_perform_on_the_record</name>
            <choiceReferences>Edit</choiceReferences>
            <choiceReferences>Delete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What action would you like to perform on the record?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Actual_Screen</name>
        <label>Actual Screen</label>
        <locationX>1099</locationX>
        <locationY>1480</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>More_Update_screen</targetReference>
        </connector>
        <fields>
            <name>TimeDisplay</name>
            <fieldText>&lt;p&gt;&lt;u&gt;Start Date:&lt;/u&gt; {!Start_Date}&lt;/p&gt;&lt;p&gt;&lt;u&gt;End Date:&lt;/u&gt; {!End_Date}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Actual_Hours</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ActualHoursFormula</elementReference>
            </defaultValue>
            <fieldText>Actual Hours</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Cost_per_Hour</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>POLI_Cost</elementReference>
            </defaultValue>
            <fieldText>Cost per Hour</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Awaiting_Integration_Warining</name>
        <label>Awaiting Integration Warining</label>
        <locationX>528</locationX>
        <locationY>180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Warning_Integration_Pending</name>
            <fieldText>&lt;p&gt;This PO cannot be edited as it is waiting a response from Pronto&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cancellation_Reason_Screen</name>
        <label>Cancellation Reason Screen</label>
        <locationX>1048</locationX>
        <locationY>211</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Status_3</targetReference>
        </connector>
        <fields>
            <name>Cancellation_Reason</name>
            <fieldText>Cancellation Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CancelScreen</name>
        <label>Cancel Screen</label>
        <locationX>845</locationX>
        <locationY>390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>confirmation</targetReference>
        </connector>
        <fields>
            <name>Are_you_sure_to_cancel_the_PO</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you sure to cancel the PO?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>More_Update_screen</name>
        <label>More Update screen</label>
        <locationX>896</locationX>
        <locationY>1556</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Status2</targetReference>
        </connector>
        <fields>
            <name>Do_you_need_to_perform_more_updates</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you need to perform more updates?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Resource_Search_Screen</name>
        <label>Resource Search_Screen</label>
        <locationX>1328</locationX>
        <locationY>794</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Resource_Selection</targetReference>
        </connector>
        <fields>
            <name>Resource_Search</name>
            <dataType>String</dataType>
            <fieldText>Resource Search</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Resource_Selection</name>
        <label>Resource Selection</label>
        <locationX>1330</locationX>
        <locationY>1124</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Time_Input_Screen</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <choiceReferences>EmployeeList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selection_Screen</name>
        <label>Selection Screen</label>
        <locationX>154</locationX>
        <locationY>716</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_PO_Supplier_RT</targetReference>
        </connector>
        <fields>
            <name>Please_select_an_action</name>
            <choiceReferences>Create</choiceReferences>
            <choiceReferences>POLIList</choiceReferences>
            <choiceReferences>Cancel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select an action:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Note</name>
            <fieldText>&lt;p&gt;If you had made any update on the PO line items, please click on the refresh icon on the top right of the page to see the latest changes.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Supplier_Line_Item_Screen</name>
        <label>Supplier Line Item Screen</label>
        <locationX>899</locationX>
        <locationY>1380</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>More_Update_screen</targetReference>
        </connector>
        <fields>
            <name>Supplier_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>POLI_SupplierCode</elementReference>
            </defaultValue>
            <fieldText>Supplier Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <stringValue>{!POLI_Description}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cost</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>POLI_Cost</elementReference>
            </defaultValue>
            <fieldText>Cost</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>POLI_Quantity</elementReference>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Units</name>
            <choiceReferences>Unit_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Units</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tax_Rate</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>POLI_TaxRate</elementReference>
            </defaultValue>
            <fieldText>Tax Rate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Date_Expected</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>POLI_DateExpected</elementReference>
            </defaultValue>
            <fieldText>Date Expected</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Time_Input_Screen</name>
        <label>Time Input Screen</label>
        <locationX>1045</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Start_Before_End_Date</targetReference>
        </connector>
        <fields>
            <name>Start_Date</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>POLI_StartTime</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>POLI_EndTime</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_on_Start_End</name>
        <label>Warning on Start End</label>
        <locationX>1190</locationX>
        <locationY>1320</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Time_Input_Screen</targetReference>
        </connector>
        <fields>
            <name>Start_Warning</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Start Date&lt;/b&gt; cannot be equals or after &lt;b&gt;End Date&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_PO</startElementReference>
    <status>Draft</status>
    <variables>
        <name>EmployeeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PO_InternalGroup_RT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PO_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Order__c</objectType>
    </variables>
    <variables>
        <name>PO_Supplier_RT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PointInTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateTimeValue>1989-12-31T13:00:00.000Z</dateTimeValue>
        </value>
    </variables>
    <variables>
        <name>POLI_Cost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>POLI_DateExpected</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>POLI_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>POLI_EndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>POLI_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>POLI_StartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>POLI_SupplierCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>POLI_TaxRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>POLI_Units</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>POLIgroupLabour_RT_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>POLISupplierRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>POLItoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>POLItodisplay</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>ProcessInstance_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessInstance</objectType>
    </variables>
    <variables>
        <name>SelectedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Single_POLI_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>WorkItem_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessInstanceWorkitem</objectType>
    </variables>
    <variables>
        <name>WorkItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
