force-app/main/default/flows/SF_SCO03_CreateAggregateBillingSO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_selected_WOs</name>
        <label>Assign selected WOs</label>
        <locationX>451</locationX>
        <locationY>62</locationY>
        <assignmentItems>
            <assignToReference>IdsSelected_Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Work_Orders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Ids_Parsed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WO_Id</name>
        <label>Assign WO Id</label>
        <locationX>649</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>ListWorkOrderId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Formula_OneWO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_From_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_From_List</name>
        <label>Remove From List</label>
        <locationX>787</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>IdsSelected_Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_removeFirstWO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>test</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_Ids_Parsed</name>
        <label>All Ids Parsed?</label>
        <locationX>724</locationX>
        <locationY>87</locationY>
        <defaultConnector>
            <targetReference>Assign_WO_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdsSelected_Var</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Aggregated_Billing_RT</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>WorkOrderList</name>
        <dataType>String</dataType>
        <displayField>WorkOrderNumber</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Contract.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ready To Invoice</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Formula_OneWO</name>
        <dataType>String</dataType>
        <expression>TRIM( LEFT({!IdsSelected_Var}, FIND(&quot;;&quot;,{!IdsSelected_Var}) -1))</expression>
    </formulas>
    <formulas>
        <name>Formula_removeFirstWO</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!IdsSelected_Var}, {!Formula_OneWO}+&quot;;&quot;, &quot;&quot;))</expression>
    </formulas>
    <interviewLabel>SF_SCO03_CreateAggregateBillingSO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF_SCO03_CreateAggregateBillingSO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Sales_Order</name>
        <label>Create Sales Order</label>
        <locationX>1106</locationX>
        <locationY>86</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Service_Contract.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>22222</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Contract__c</field>
            <value>
                <elementReference>Get_Service_Contract.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Territory__c</field>
            <value>
                <elementReference>Get_Service_Contract.Service_Territory__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Aggregated_Billing_RT</name>
        <label>Get Aggregated Billing RT</label>
        <locationX>920</locationX>
        <locationY>74</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Sales_Order</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AggregatedBilling_SalesOrder_RT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Contract</name>
        <label>Get Service Contract</label>
        <locationX>175</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Work_Orders_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Select_Work_Orders_Screen</name>
        <label>Select Work Orders Screen</label>
        <locationX>337</locationX>
        <locationY>46</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_selected_WOs</targetReference>
        </connector>
        <fields>
            <name>Select_Work_Orders</name>
            <choiceReferences>WorkOrderList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Work Orders</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>test</name>
        <label>test</label>
        <locationX>832</locationX>
        <locationY>204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>All_Ids_Parsed</targetReference>
        </connector>
        <fields>
            <name>testdisplay</name>
            <fieldText>&lt;p&gt;{!IdsSelected_Var}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Service_Contract</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdsSelected_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListWorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
