force-app/main/default/flows/SF_SAP05_CreatePO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Add_Single_POLI_to_list_to_create</name>
        <label>Add Single POLI to list to create</label>
        <locationX>1617</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>ListPOLItocreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_POLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_POLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>1284</locationX>
        <locationY>895</locationY>
        <assignmentItems>
            <assignToReference>List_POLI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_POLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_List_POLI_supplier</name>
        <label>Add to List POLI supplier</label>
        <locationX>621</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>List_POLI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_POLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_lines_for_supplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PO_Id_to_POLI</name>
        <label>Assign PO Id to POLI</label>
        <locationX>1624</locationX>
        <locationY>1695</locationY>
        <assignmentItems>
            <assignToReference>Single_POLI.Purchase_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>POId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Single_POLI_to_list_to_create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PO_to_WO</name>
        <label>Assign PO to WO</label>
        <locationX>1147</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Service_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_POLI_values</name>
        <label>Assign POLI values</label>
        <locationX>1281</locationX>
        <locationY>746</locationY>
        <assignmentItems>
            <assignToReference>Single_POLI.Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI.Date_Expected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmployeeName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI.Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_Resource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI.End_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI.Supplier_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NukonAccountRecord.Pronto_Account_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>POLI_Internal_Labour_RT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI.Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI.Tax_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HRS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actual_Hours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_POLI_values_Supplier</name>
        <label>Assign POLI values Supplier</label>
        <locationX>468</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Single_POLI.Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cost2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI.Date_Expected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Expected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_POLI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>POLI_Supplier_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Units</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI.Tax_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tax_Rate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_POLI.Supplier_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supplier_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List_POLI_supplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Supplier_Name_to_PO_delivery</name>
        <label>Assign Supplier Name to PO delivery</label>
        <locationX>153</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Delivery_Address_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SupplierName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PO_Header_Page</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Warehouse_Address_to_PO</name>
        <label>Assign Warehouse Address to PO</label>
        <locationX>33</locationX>
        <locationY>402</locationY>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Postal_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WarehouseRecord.Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Postal_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WarehouseRecord.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Postal_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WarehouseRecord.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Postal_Postcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WarehouseRecord.Postcode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Postal_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WarehouseRecord.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Delivery_Address_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WarehouseRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PO_Header_Page</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Customer_s_Site_PO_Assignment</name>
        <label>Customer&apos;s Site PO Assignment</label>
        <locationX>310</locationX>
        <locationY>637</locationY>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Postal_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WORecord.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Postal_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WORecord.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Postal_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WORecord.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Postal_Postcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WORecord.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Postal_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WORecord.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Delivery_Address_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WO_AccountRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PO_Header_Page</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PO_Assignment</name>
        <label>PO Assignment</label>
        <locationX>984</locationX>
        <locationY>462</locationY>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NukonAccountRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Order_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Service_Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WORecord.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Postal_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WORecord.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Postal_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WORecord.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Postal_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WORecord.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Postal_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WORecord.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_RT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AUD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Delivery_Address_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WO_AccountRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Service_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WORecord.ServiceContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Delivery_Instructions__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Postal_Postcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WORecord.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUB</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Notes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Resource_Type_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PO_Assignment_Supplier</name>
        <label>PO Assignment Supplier</label>
        <locationX>146</locationX>
        <locationY>738</locationY>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Service_Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WORecord.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Service_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WORecord.ServiceContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Supplier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Order_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Delivery_Instructions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Instructions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Delivery_Address_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Address_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_RT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AUD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Postal_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Postal_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Postal_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Postal_Suburb_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Postal_Postcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Postal_Postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Postal_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Postal_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Postal_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Postal_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderRecord.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Line_Item_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SA_Id_to_Blank</name>
        <label>Set SA Id to Blank</label>
        <locationX>998</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_PO_to_WO</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CreateanewWorkOrder</name>
        <choiceText>Create a new Work Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NewWO</stringValue>
        </value>
    </choices>
    <choices>
        <name>CustomerSite</name>
        <choiceText>Customer&apos;s Site</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer&apos;s Site</stringValue>
        </value>
    </choices>
    <choices>
        <name>InternalGroupLabour</name>
        <choiceText>Internal Group Labour</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>InternalGroupLabour_PurchaseOrder_RT</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>PickUp</name>
        <choiceText>Pick Up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pick Up</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supplier</name>
        <choiceText>Supplier</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supplier_PurchaseOrder_RT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Warehouse_Choice</name>
        <choiceText>Warehouse</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Warehouse</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Assign_to_Current_Work_Order</name>
        <label>Assign to Current Work Order?</label>
        <locationX>1134</locationX>
        <locationY>1205</locationY>
        <defaultConnector>
            <targetReference>Get_Other_WO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_link_this_PO_against_the_current_Work_Order</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PO_to_WO</targetReference>
            </connector>
            <label>Current Work Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WO_Status</name>
        <label>Check WO Status</label>
        <locationX>572</locationX>
        <locationY>231</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WO_is_not_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WORecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Customer PO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WORecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ready To Invoice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RT_Selection</targetReference>
            </connector>
            <label>WO is not completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_a_new_WO</name>
        <label>Create a new WO?</label>
        <locationX>762</locationX>
        <locationY>1656</locationY>
        <defaultConnector>
            <targetReference>Get_SA_from_created_WO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_WO_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Work_Order</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreateanewWorkOrder</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_WO_Screen</targetReference>
            </connector>
            <label>New WO Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delivery_Selection_Result</name>
        <label>Delivery Selection Result?</label>
        <locationX>301</locationX>
        <locationY>418</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PickUp_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delivery_Method</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PickUp</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Supplier_Name_to_PO_delivery</targetReference>
            </connector>
            <label>PickUp Selected</label>
        </rules>
        <rules>
            <name>Warehouse_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delivery_Method</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Warehouse_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Warehouse_Address_to_PO</targetReference>
            </connector>
            <label>Warehouse Selected</label>
        </rules>
        <rules>
            <name>Customer_Site_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delivery_Method</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerSite</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_s_Site_PO_Assignment</targetReference>
            </connector>
            <label>Customer Site Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_Date_before_Start_Date</name>
        <label>End Date before Start Date</label>
        <locationX>1270</locationX>
        <locationY>235</locationY>
        <defaultConnector>
            <targetReference>Actuals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>End_Date_Before_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>End_Date</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Start_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Screen</targetReference>
            </connector>
            <label>End Date Before Start</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Other_WO_on_Case</name>
        <label>Existing Other WO on Case ?</label>
        <locationX>733</locationX>
        <locationY>1189</locationY>
        <defaultConnector>
            <targetReference>Select_WO_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Existing_WO_on_Same_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOtherWORecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_WO_Screen</targetReference>
            </connector>
            <label>No_Existing WO on Same Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_lines_for_supplier</name>
        <label>More lines for supplier?</label>
        <locationX>517</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>LinkWOScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1_more_line_item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Finish_Adding_Lines</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Line_Item_Details</targetReference>
            </connector>
            <label>1 more line item</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_Resource</name>
        <label>More Resource?</label>
        <locationX>1129</locationX>
        <locationY>880</locationY>
        <defaultConnector>
            <targetReference>LinkWOScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_Resource_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_include_another_resource_against_this_PO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resource_Type_Screen</targetReference>
            </connector>
            <label>More Resource Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>RT_Selection_Decision</name>
        <label>RT Selection Decision</label>
        <locationX>732</locationX>
        <locationY>240</locationY>
        <defaultConnector>
            <targetReference>Get_POLI_Labour_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Supplier_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Purchase_Order_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Supplier</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_POLI_Supplier_RT</targetReference>
            </connector>
            <label>Supplier selected</label>
        </rules>
    </decisions>
    <description>POLI Description - Validate Input</description>
    <dynamicChoiceSets>
        <name>POType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Purchase_Order__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ResourceList</name>
        <dataType>String</dataType>
        <displayField>Name_Role__c</displayField>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NukonAccountRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Resource_Search</elementReference>
            </value>
        </filters>
        <object>Employees__c</object>
        <outputAssignments>
            <assignToReference>EmployeeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ResourceType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role__c</picklistField>
        <picklistObject>Employees__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SupplierList</name>
        <dataType>String</dataType>
        <displayField>Account_Name_Account_Code__c</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Search_Supplier</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SupplierAccountRTid</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>PurchaseOrderRecord.Postal_City__c</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PurchaseOrderRecord.Postal_Country__c</assignToReference>
            <field>BillingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PurchaseOrderRecord.Postal_Postcode__c</assignToReference>
            <field>BillingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PurchaseOrderRecord.Postal_State__c</assignToReference>
            <field>BillingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PurchaseOrderRecord.Postal_Street__c</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SupplierName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UnitsPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Units__c</picklistField>
        <picklistObject>Purchase_Order_Line_Item__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkOrderSelection</name>
        <dataType>String</dataType>
        <displayField>Subject</displayField>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WORecord.CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ready To Invoice</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Awaiting Customer PO</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>WorkOrderId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>ActualHoursFormula</name>
        <dataType>Number</dataType>
        <expression>((CEILING((({!PointInTime} - {!Start_Date}) * 24 * 60))) - (CEILING((({!PointInTime} - {!End_Date}) * 24 * 60)))) / 60</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UserDefaultWarehouse</name>
        <dataType>String</dataType>
        <expression>{!$User.Warehouse_Text__c}</expression>
    </formulas>
    <interviewLabel>SF_SAP05_CreatePO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF_SAP05_CreatePO</label>
    <loops>
        <name>Loop_POLI</name>
        <label>Loop POLI</label>
        <locationX>1419</locationX>
        <locationY>1575</locationY>
        <assignNextValueToReference>Single_POLI</assignNextValueToReference>
        <collectionReference>List_POLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_PO_Id_to_POLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_POLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Work_Order</name>
        <label>Create New Work Order</label>
        <locationX>863</locationX>
        <locationY>1409</locationY>
        <assignRecordIdToReference>WorkOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Set_SA_Id_to_Blank</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>WORecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>WORecord.CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>WORecord.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>WORecord.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>WORecord.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentWorkOrderId</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>WORecord.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>WORecord.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceContractId</field>
            <value>
                <elementReference>WORecord.ServiceContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>WORecord.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Contact__c</field>
            <value>
                <elementReference>WORecord.Site_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>WORecord.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>WORecord.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>WORecord.WorkTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>Create_PO</name>
        <label>Create PO</label>
        <locationX>1146</locationX>
        <locationY>1571</locationY>
        <assignRecordIdToReference>POId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_POLI</targetReference>
        </connector>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>PurchaseOrderRecord.Currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Address_Name__c</field>
            <value>
                <elementReference>PurchaseOrderRecord.Delivery_Address_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Instructions__c</field>
            <value>
                <elementReference>PurchaseOrderRecord.Delivery_Instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>PurchaseOrderRecord.Due_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>PurchaseOrderRecord.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Date__c</field>
            <value>
                <elementReference>PurchaseOrderRecord.Order_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_City__c</field>
            <value>
                <elementReference>PurchaseOrderRecord.Postal_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Country__c</field>
            <value>
                <elementReference>PurchaseOrderRecord.Postal_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Postcode__c</field>
            <value>
                <elementReference>PurchaseOrderRecord.Postal_Postcode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_State__c</field>
            <value>
                <elementReference>PurchaseOrderRecord.Postal_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Street__c</field>
            <value>
                <elementReference>PurchaseOrderRecord.Postal_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PO_RT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Contract__c</field>
            <value>
                <elementReference>WORecord.ServiceContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Territory__c</field>
            <value>
                <elementReference>WORecord.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier__c</field>
            <value>
                <elementReference>PurchaseOrderRecord.Supplier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>PurchaseOrderRecord.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warehouse_Code__c</field>
            <value>
                <elementReference>UserDefaultWarehouse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_POLI</name>
        <label>Create POLI</label>
        <locationX>1294</locationX>
        <locationY>1338</locationY>
        <connector>
            <targetReference>Update_PO</targetReference>
        </connector>
        <inputReference>ListPOLItocreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Supplier_RT</name>
        <label>Get Account Supplier RT</label>
        <locationX>741</locationX>
        <locationY>571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Search_Screen</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier_Account_RT</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>SupplierAccountRTid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Nukon_Account</name>
        <label>Get Nukon Account</label>
        <locationX>986</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PO_Assignment</targetReference>
        </connector>
        <filters>
            <field>Pronto_Account_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NUKO501</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>NukonAccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Pronto_Account_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Other_WO</name>
        <label>Get Other WO</label>
        <locationX>925</locationX>
        <locationY>1186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Other_WO_on_Case</targetReference>
        </connector>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WORecord.CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>WORecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Awaiting Customer PO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ready To Invoice</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>GetOtherWORecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PO_record_Type</name>
        <label>Get PO record Type</label>
        <locationX>743</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RT_Selection_Decision</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Purchase_Order_Type</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PO_RT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_POLI_Labour_RT</name>
        <label>Get POLI Labour RT</label>
        <locationX>984</locationX>
        <locationY>81</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Nukon_Account</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InternalGroupLabour_PurchaseOrderLineItem_RT</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>POLI_Internal_Labour_RT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_POLI_Supplier_RT</name>
        <label>Get POLI Supplier RT</label>
        <locationX>740</locationX>
        <locationY>407</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Supplier_RT</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier_PurchaseOrderLineItem_RT</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>POLI_Supplier_RT</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>50</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WO</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkOrderId</assignToReference>
            <field>Work_Order__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_from_created_WO</name>
        <label>Get SA from created WO</label>
        <locationX>1000</locationX>
        <locationY>1448</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_PO_to_WO</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Warehouse</name>
        <label>Get User Warehouse</label>
        <locationX>378</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WO_Status</targetReference>
        </connector>
        <filters>
            <field>Warehouse_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserDefaultWarehouse</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputReference>WarehouseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Street__c</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>Postcode__c</queriedFields>
        <queriedFields>State__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WO</name>
        <label>Get WO</label>
        <locationX>153</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WO_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WORecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>ServiceContractId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Site_Contact__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>Priority</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_Account</name>
        <label>Get WO Account</label>
        <locationX>255</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Warehouse</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WORecord.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>WO_AccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_PO</name>
        <label>Update PO</label>
        <locationX>1303</locationX>
        <locationY>1195</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>POId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approval Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
    </recordUpdates>
    <screens>
        <name>Actuals</name>
        <label>Actuals</label>
        <locationX>1281</locationX>
        <locationY>471</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>More_Lines</targetReference>
        </connector>
        <fields>
            <name>DisplayTime</name>
            <fieldText>&lt;p&gt;&lt;u&gt;Start Date Time:&lt;/u&gt;&lt;/p&gt;&lt;p&gt;{!Start_Date}&lt;/p&gt;&lt;p&gt;&lt;u&gt;End Date Time:&lt;/u&gt;&lt;/p&gt;&lt;p&gt;{!End_Date}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Actual_Hours</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ActualHoursFormula</elementReference>
            </defaultValue>
            <fieldText>Actual Hours</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Cost</name>
            <dataType>Number</dataType>
            <fieldText>Cost per hour</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Delivery_Method_Screen</name>
        <label>Delivery Method Screen</label>
        <locationX>440</locationX>
        <locationY>412</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delivery_Selection_Result</targetReference>
        </connector>
        <fields>
            <name>Delivery_Method</name>
            <choiceReferences>PickUp</choiceReferences>
            <choiceReferences>Warehouse_Choice</choiceReferences>
            <choiceReferences>CustomerSite</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Delivery Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>582</locationX>
        <locationY>407</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorNotStartedMessage</name>
            <fieldText>&lt;p&gt;You cannot create a PO for a completed work order. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Line_Item_Details</name>
        <label>Line Item Details</label>
        <locationX>299</locationX>
        <locationY>770</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_POLI_values_Supplier</targetReference>
        </connector>
        <fields>
            <name>LineItemDetailsMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;u&gt;Line Item Details&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Supplier_Code</name>
            <dataType>String</dataType>
            <fieldText>Supplier Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description_POLI</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(218, 46, 46);&quot;&gt;Description can not be more than 60 characters. &lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Description_POLI})&lt;60</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Cost2</name>
            <dataType>Currency</dataType>
            <fieldText>Cost</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Units</name>
            <choiceReferences>UnitsPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Units</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tax_Rate</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>10.0</numberValue>
            </defaultValue>
            <fieldText>Tax Rate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Date_Expected</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varDateExpected</elementReference>
            </defaultValue>
            <fieldText>Date Expected</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Finish_Adding_Lines</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Finish Adding Lines</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LinkWOScreen</name>
        <label>LinkWOScreen</label>
        <locationX>1138</locationX>
        <locationY>1037</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_to_Current_Work_Order</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_link_this_PO_against_the_current_Work_Order</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to link this PO against the current Work Order?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>More_Lines</name>
        <label>More Lines?</label>
        <locationX>1278</locationX>
        <locationY>600</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_POLI_values</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_include_another_resource_against_this_PO</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to include another resource against this PO?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_WO_Screen</name>
        <label>New WO Screen</label>
        <locationX>742</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Work_Order</targetReference>
        </connector>
        <fields>
            <name>NoWOfound</name>
            <fieldText>&lt;p&gt;There is no other work order found on this Case.&lt;/p&gt;&lt;p&gt;Please populate the &lt;b&gt;Subject&lt;/b&gt; and &lt;b&gt;Description&lt;/b&gt; for the new work order created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Note</name>
            <fieldText>&lt;p&gt;Note: The purchase order will be attached to this new work order.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PO_Header_Page</name>
        <label>PO Header Page</label>
        <locationX>29</locationX>
        <locationY>645</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PO_Assignment_Supplier</targetReference>
        </connector>
        <fields>
            <name>DisplaySupplier</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;u&gt;Purchase Order Header&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Supplier&lt;/u&gt;: {!SupplierName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Order_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Order Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Due_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varDueDate</elementReference>
            </defaultValue>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>POType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Delivery_Instructions</name>
            <defaultValue>
                <stringValue>Delivery Method: {!Delivery_Method}</stringValue>
            </defaultValue>
            <fieldText>Delivery Instructions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Delivery_Address_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PurchaseOrderRecord.Delivery_Address_Name__c</elementReference>
            </defaultValue>
            <fieldText>Delivery Address Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Postal_Street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PurchaseOrderRecord.Postal_Street__c</elementReference>
            </defaultValue>
            <fieldText>Postal Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Postal_Suburb_City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PurchaseOrderRecord.Postal_City__c</elementReference>
            </defaultValue>
            <fieldText>Postal Suburb/City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Postal_Postcode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PurchaseOrderRecord.Postal_Postcode__c</elementReference>
            </defaultValue>
            <fieldText>Postal Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Postal_State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PurchaseOrderRecord.Postal_State__c</elementReference>
            </defaultValue>
            <fieldText>Postal State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Postal_Country</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PurchaseOrderRecord.Postal_Country__c</elementReference>
            </defaultValue>
            <fieldText>Postal Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Resource_Selection</name>
        <label>Resource Selection</label>
        <locationX>1097</locationX>
        <locationY>225</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Time_Input_Screen</targetReference>
        </connector>
        <fields>
            <name>Name_Resource</name>
            <choiceReferences>ResourceList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Resource_Type_Screen</name>
        <label>Resource Type Screen</label>
        <locationX>1130</locationX>
        <locationY>459</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Resource_Selection</targetReference>
        </connector>
        <fields>
            <name>Resource_Search</name>
            <dataType>String</dataType>
            <fieldText>Resource Search</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RT_Selection</name>
        <label>RT Selection</label>
        <locationX>573</locationX>
        <locationY>88</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_PO_record_Type</targetReference>
        </connector>
        <fields>
            <name>Purchase_Order_Type</name>
            <choiceReferences>InternalGroupLabour</choiceReferences>
            <choiceReferences>Supplier</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Purchase Order Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Search_Screen</name>
        <label>Search Screen</label>
        <locationX>588</locationX>
        <locationY>561</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Supplie_Screen</targetReference>
        </connector>
        <fields>
            <name>Search_Supplier</name>
            <dataType>String</dataType>
            <fieldText>Search Supplier</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Supplie_Screen</name>
        <label>Select Supplie Screen</label>
        <locationX>473</locationX>
        <locationY>555</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delivery_Method_Screen</targetReference>
        </connector>
        <fields>
            <name>Select_Supplier</name>
            <choiceReferences>SupplierList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Supplier</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_WO_Screen</name>
        <label>Select WO Screen</label>
        <locationX>507</locationX>
        <locationY>1431</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_a_new_WO</targetReference>
        </connector>
        <fields>
            <name>Select_Work_Order</name>
            <choiceReferences>WorkOrderSelection</choiceReferences>
            <choiceReferences>CreateanewWorkOrder</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Work Order</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Time_Input_Screen</name>
        <label>Time Input Screen</label>
        <locationX>1130</locationX>
        <locationY>67</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>End_Date_before_Start_Date</targetReference>
        </connector>
        <fields>
            <name>Start_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning_Screen</name>
        <label>Warning Screen</label>
        <locationX>1273</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Time_Input_Screen</targetReference>
        </connector>
        <fields>
            <name>WarningText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Start Date cannot be after End Date. Please update Start and End Date.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_SA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EmployeeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetOtherWORecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>List_POLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>ListPOLItocreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>NukonAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PO_RT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>POId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PointInTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateTimeValue>1989-12-31T13:00:00.000Z</dateTimeValue>
        </value>
    </variables>
    <variables>
        <name>POLI_Internal_Labour_RT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>POLI_Supplier_RT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>PurchaseOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Order__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Single_POLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>SupplierAccountRTid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupplierName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to store todays date</description>
        <name>varDateExpected</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <description>Variable to store today&apos;s date</description>
        <name>varDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>WarehouseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>WO_AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>WORecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
