force-app/main/default/flows/SF_SAP04_NOCSelfAssignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Start_and_End</name>
        <label>Assign Start and End</label>
        <locationX>268</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>StartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA_Record.SchedStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA_Record.SchedEndTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Assigned_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SA_Schedule_Start_End</name>
        <label>SA Schedule Start End</label>
        <locationX>915</locationX>
        <locationY>58</locationY>
        <assignmentItems>
            <assignToReference>SA_Record.SchedStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA_Record.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Resource_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Crew_Assignment</name>
        <label>Crew Assignment ?</label>
        <locationX>450</locationX>
        <locationY>215</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assigned_To_Crew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignResourcesCrew</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StartScreen</targetReference>
            </connector>
            <label>Assigned To Crew</label>
        </rules>
    </decisions>
    <decisions>
        <name>ServiceResource_Decision</name>
        <label>ServiceResource_Decision</label>
        <locationX>631</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Create_Assigned_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SR_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceResource_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Tech_Screen</targetReference>
            </connector>
            <label>SR_Not_Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>EndDateCalculation</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (1/24*{!SA_Record.Duration})</expression>
    </formulas>
    <interviewLabel>SF_SAP04_NOCSelfAssignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF_SAP04_NOCSelfAssignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Assigned_Resource</name>
        <label>Create Assigned Resource</label>
        <locationX>637</locationX>
        <locationY>495</locationY>
        <connector>
            <targetReference>Update_SA_to_In_Progress</targetReference>
        </connector>
        <inputAssignments>
            <field>ServiceAppointmentId</field>
            <value>
                <elementReference>SA_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>ServiceResource_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AssignedResource</object>
    </recordCreates>
    <recordDeletes>
        <name>DeleteAllAssignedCrew</name>
        <label>DeleteAssignedCrew</label>
        <locationX>775</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>SA_Schedule_Start_End</targetReference>
        </connector>
        <inputReference>AssignResourcesCrew</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Assigned_Resource</name>
        <label>Get Assigned Resource</label>
        <locationX>396</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crew_Assignment</targetReference>
        </connector>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceCrewId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputReference>AssignResourcesCrew</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>165</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Start_and_End</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SA_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Duration</queriedFields>
        <queriedFields>DurationType</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>SchedEndTime</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource_Record</name>
        <label>Get Service Resource Record</label>
        <locationX>928</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SA_with_Schedule_Time</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>ServiceResource_Record</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA_to_In_Progress</name>
        <label>Update SA to In Progress</label>
        <locationX>467</locationX>
        <locationY>488</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_with_Schedule_Time</name>
        <label>Update SA with Schedule Time</label>
        <locationX>777</locationX>
        <locationY>336</locationY>
        <connector>
            <targetReference>ServiceResource_Decision</targetReference>
        </connector>
        <inputReference>SA_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Not_Tech_Screen</name>
        <label>Not Tech Screen</label>
        <locationX>461</locationX>
        <locationY>334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotTechMessage</name>
            <fieldText>&lt;p&gt;Only Technicians can initiate Start Working Action. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you are a technician, please ask your system administrator to setup a service resource for your user.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>StartScreen</name>
        <label>StartScreen</label>
        <locationX>561</locationX>
        <locationY>57</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TimeStamp</targetReference>
        </connector>
        <fields>
            <name>StartDisplay</name>
            <fieldText>&lt;p&gt;Please click Next to assign the service appointment to yourself and start working on the work order&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>309</locationX>
        <locationY>489</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessEndMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The Service Appointment has been reassigned to you successfully with &#39;In Progress&#39; status&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TimeStamp</name>
        <label>TimeStamp</label>
        <locationX>681</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DeleteAllAssignedCrew</targetReference>
        </connector>
        <fields>
            <name>Start_Working_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Start Working Date Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_SA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignResourcesCrew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>EndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SA_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceResource_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>StartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
