force-app/main/default/flows/SF_SAP07_CaptureTransaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_SA_values</name>
        <label>Assign SA values</label>
        <locationX>413</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>SA_Record.Transaction_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Resource_Name_Update</name>
        <label>Resource Name Update</label>
        <locationX>1228</locationX>
        <locationY>449</locationY>
        <assignmentItems>
            <assignToReference>ResourceName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmployeeName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TimeInput</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Myself</name>
        <choiceText>Myself</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Myself</stringValue>
        </value>
    </choices>
    <choices>
        <name>SomeoneElse</name>
        <choiceText>Someone else</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SomeoneElse</stringValue>
        </value>
    </choices>
    <choices>
        <name>Technician_Choice</name>
        <choiceText>Technician</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technician</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Actual_Vs_Billable</name>
        <label>Actual Vs Billable</label>
        <locationX>697</locationX>
        <locationY>578</locationY>
        <defaultConnector>
            <targetReference>Reason_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Actual_equals_Billable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActualHoursFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Billable_Hours</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_WOLI</targetReference>
            </connector>
            <label>Actual equals Billable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Resource_Name</name>
        <label>Check Resource Name</label>
        <locationX>1161</locationX>
        <locationY>245</locationY>
        <defaultConnector>
            <targetReference>TimeInput</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resource_Name_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResourceName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resource_Name_Update</targetReference>
            </connector>
            <label>Resource Name is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Over_16_Hours</name>
        <label>Over 16 Hours</label>
        <locationX>913</locationX>
        <locationY>462</locationY>
        <defaultConnector>
            <targetReference>GetWO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Actual_Over_16_Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActualHoursFormula</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>16.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Screen_2</targetReference>
            </connector>
            <label>Actual Over 16 Hours</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_Status</name>
        <label>SA Status</label>
        <locationX>518</locationX>
        <locationY>58</locationY>
        <defaultConnector>
            <targetReference>Get_Current_Service_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SA_Not_Started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA_Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA_Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Arrived Onsite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA_Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Started_Screen</targetReference>
            </connector>
            <label>SA Not Started</label>
        </rules>
        <rules>
            <name>Finished</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_Record.Status</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Complete_Screen</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Transaction_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_Record.Transaction_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transaction_done_screen</targetReference>
            </connector>
            <label>Transaction Completed</label>
        </rules>
        <rules>
            <name>Job_not_completed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SA_Record.Action_Taken__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA_Record.JSEA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WO_Record_Initial.Initial_Findings__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Job_detail_message</targetReference>
            </connector>
            <label>Job not completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_before_End_Date</name>
        <label>Start before End Date?</label>
        <locationX>826</locationX>
        <locationY>341</locationY>
        <defaultConnector>
            <targetReference>Over_16_Hours</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Start_Before_End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Start_Date_Time</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>End_Date_Time</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Screen1</targetReference>
            </connector>
            <label>Start Before End</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transaction_for</name>
        <label>Transaction for</label>
        <locationX>1137</locationX>
        <locationY>81</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Myself_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resource_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Myself</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TimeInput</targetReference>
            </connector>
            <label>Myself Selected</label>
        </rules>
        <rules>
            <name>SomeoneElse_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resource_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SomeoneElse</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Resource_Screen</targetReference>
            </connector>
            <label>SomeoneElse</label>
        </rules>
    </decisions>
    <description>JSEA Mandatory before Capturing Transaction</description>
    <dynamicChoiceSets>
        <name>ResourceList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>sageautomation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Search_Name</elementReference>
            </value>
        </filters>
        <object>Employees__c</object>
        <outputAssignments>
            <assignToReference>EmployeeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmployeeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ResourceType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role__c</picklistField>
        <picklistObject>Employees__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceResourceList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Search_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>ResourceType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>T</stringValue>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>SRid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResourceName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>ActualHoursFormula</name>
        <dataType>Number</dataType>
        <expression>((CEILING((({!PointInTime} - {!Start_Date_Time}) * 24 * 60))) - (CEILING((({!PointInTime} - {!End_Date_Time}) * 24 * 60)))) / 60</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UserIdFormula</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>UserName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}</expression>
    </formulas>
    <interviewLabel>SF_SAP07_CaptureTransaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF_SAP07_CaptureTransaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_WOLI</name>
        <label>Create WOLI</label>
        <locationX>548</locationX>
        <locationY>577</locationY>
        <connector>
            <targetReference>Assign_SA_values</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Test</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Actual_Hours__c</field>
            <value>
                <elementReference>ActualHoursFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billable_Hours_Update_Reason__c</field>
            <value>
                <elementReference>Billable_Hours_Update_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billable_Hours__c</field>
            <value>
                <elementReference>Billable_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>WO_Record.CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
        </inputAssignments>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>EmployeeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>End_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resource__c</field>
            <value>
                <elementReference>SRid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Contract__c</field>
            <value>
                <elementReference>WO_Record.ServiceContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Start_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>SA_Record.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Service_Resource</name>
        <label>Get Current Service Resource</label>
        <locationX>751</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resource_Type_Selection</targetReference>
        </connector>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserIdFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>ResourceType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>T</stringValue>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>SRid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResourceName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>390</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WO</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SA_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ActualStartTime</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>Transaction_Completed__c</queriedFields>
        <queriedFields>Initial_Findings__c</queriedFields>
        <queriedFields>Action_Taken__c</queriedFields>
        <queriedFields>JSEA__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WO</name>
        <label>Get WO</label>
        <locationX>228</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SA_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WO_Record_Initial</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Initial_Findings__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetWO</name>
        <label>GetWO</label>
        <locationX>931</locationX>
        <locationY>578</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actual_hours_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WO_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceContractId</queriedFields>
        <queriedFields>CaseId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>270</locationX>
        <locationY>571</locationY>
        <inputReference>SA_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Actual_hours_Screen</name>
        <label>Actual hours Screen</label>
        <locationX>803</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Actual_Vs_Billable</targetReference>
        </connector>
        <fields>
            <name>StartTime</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Start:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Start_Date_Time}&lt;/p&gt;&lt;p&gt;&lt;b&gt;End Date/Time:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!End_Date_Time}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Actual Hours:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!ActualHoursFormula}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Billable_Hours</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ActualHoursFormula</elementReference>
            </defaultValue>
            <fieldText>Billable Hours</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Capture_Job_detail_message</name>
        <label>Capture Job detail message</label>
        <locationX>555</locationX>
        <locationY>390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;Please capture the job details before capturing your time spent on the job.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please populate &apos;JSEA&apos;, &apos;Initial Findings&apos; and &apos;Action Taken&apos; fields.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Current Values&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;JSEA: &lt;/b&gt;{!SA_Record.JSEA__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Initial Findings: &lt;/b&gt;{!WO_Record_Initial.Initial_Findings__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Action Taken: &lt;/b&gt;{!SA_Record.Action_Taken__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Complete_Screen</name>
        <label>Error Complete Screen</label>
        <locationX>286</locationX>
        <locationY>435</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishedErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Transaction cannot be created after a service appointment is Completed/ Cannot Complete&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_Started_Screen</name>
        <label>Not Started Screen</label>
        <locationX>428</locationX>
        <locationY>431</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorNotStartedMessage</name>
            <fieldText>&lt;p&gt;Sorry, you cannot create a transaction before starting working on the work order.&lt;/p&gt;&lt;p&gt;Please update the status to &apos;Arrived Onsite&apos;, perform JSEA and capture job details in order to create a transaction.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reason_Screen</name>
        <label>Reason Screen</label>
        <locationX>707</locationX>
        <locationY>454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_WOLI</targetReference>
        </connector>
        <fields>
            <name>Billable_Hours_Update_Reason</name>
            <fieldText>Billable Hours Update Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Resource_Type_Selection</name>
        <label>Resource Type Selection</label>
        <locationX>885</locationX>
        <locationY>75</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Transaction_for</targetReference>
        </connector>
        <fields>
            <name>Resource_Type</name>
            <choiceReferences>Myself</choiceReferences>
            <choiceReferences>SomeoneElse</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Myself</defaultSelectedChoiceReference>
            <fieldText>Create a transaction for:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Search_Resource_Screen</name>
        <label>Search Resource Screen</label>
        <locationX>1337</locationX>
        <locationY>84</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Technician_Screen</targetReference>
        </connector>
        <fields>
            <name>Search_Name</name>
            <dataType>String</dataType>
            <fieldText>Search Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Technician_Screen</name>
        <label>Select Technician Screen</label>
        <locationX>1314</locationX>
        <locationY>256</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Resource_Name</targetReference>
        </connector>
        <fields>
            <name>Technician</name>
            <choiceReferences>ResourceList</choiceReferences>
            <choiceReferences>ServiceResourceList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Technician</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Test</name>
        <label>Test</label>
        <locationX>549</locationX>
        <locationY>784</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TimeInput</name>
        <label>TimeInput</label>
        <locationX>978</locationX>
        <locationY>262</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Start_before_End_Date</targetReference>
        </connector>
        <fields>
            <name>dateFormat</name>
            <fieldText>&lt;p&gt;Please input 15 minutes interval &lt;b&gt;:00, :15, :30, :45 &lt;/b&gt;when capturing the Start Date/Time and End Date/Time.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>SA_Record.ActualStartTime</elementReference>
            </defaultValue>
            <fieldText>Start Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>SA_Record.ActualStartTime</elementReference>
            </defaultValue>
            <fieldText>End Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please round the time to 15minutes (:00, :15, :30, :45)&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Transaction_done_screen</name>
        <label>Transaction done screen</label>
        <locationX>703</locationX>
        <locationY>328</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Current_Service_Resource</targetReference>
        </connector>
        <fields>
            <name>TransactionDoneMessage</name>
            <fieldText>&lt;p&gt;You have already created a transaction, please update your time from the created transaction in the WORK ORDER LINE ITEM related list.&lt;/p&gt;&lt;p&gt;Otherwise, click Next to create a new transaction.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning_Screen1</name>
        <label>Warning Screen1</label>
        <locationX>841</locationX>
        <locationY>192</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TimeInput</targetReference>
        </connector>
        <fields>
            <name>Warning1</name>
            <fieldText>&lt;p&gt;Start Date cannot be after End Date. Please update Start and End Date.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning_Screen_2</name>
        <label>Warning Screen 2</label>
        <locationX>1046</locationX>
        <locationY>465</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TimeInput</targetReference>
        </connector>
        <fields>
            <name>Warning2</name>
            <fieldText>&lt;p&gt;According to HR Policy you cannot work over 16 hours in 1 time. &lt;/p&gt;&lt;p&gt;Please update your time or create multiple transactions.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_SA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EmployeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmployeeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PointInTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateTimeValue>1989-12-31T13:00:00.000Z</dateTimeValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResourceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SA_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>SRid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!$UserId}</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WO_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WO_Record_Initial</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkOrderInitialFindings</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
