force-app/main/default/flows/SF_WOL01_EditTransaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Pre_purchased_Hours</name>
        <label>Assign Pre purchased Hours</label>
        <locationX>473</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>WOLIRecord.Consumed_Pre_Purchased_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumedPrePurchasedHours_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_on_SA_and_WOLI</name>
        <label>Assignment on SA and WOLI</label>
        <locationX>595</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>WOLIRecord.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIRecord.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIRecord.Actual_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActualHoursFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIRecord.Billable_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billable_Hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIRecord.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billable_Hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIRecord.Temp_Actual_Hours__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIRecord.Temp_End_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIRecord.Temp_Billable_Hours__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Pre_purchased_hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SA_Actual_End</name>
        <label>Update SA Actual End</label>
        <locationX>33</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>SARecord.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Completed</name>
        <label>Completed</label>
        <locationX>514</locationX>
        <locationY>56</locationY>
        <defaultConnector>
            <targetReference>Edit_Time_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SARecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Status completed</label>
        </rules>
        <rules>
            <name>Status_Cannot_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SARecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Status Cannot Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Over_16_Hours</name>
        <label>Over 16 Hours</label>
        <locationX>539</locationX>
        <locationY>393</locationY>
        <defaultConnector>
            <targetReference>Remaining_time_on_another_transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Actual_Over_16_Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActualHoursFormula</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>16.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Screen_2</targetReference>
            </connector>
            <label>Actual Over 16 Hours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pre_purchased_hours</name>
        <label>Pre purchased hours?</label>
        <locationX>463</locationX>
        <locationY>689</locationY>
        <defaultConnector>
            <targetReference>Update_WOLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consumed_over_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOLIRecord.Consumed_Pre_Purchased_Hours__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pre_purchased_Hours</targetReference>
            </connector>
            <label>Consumed over 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remaining_time_on_another_transaction</name>
        <label>Remaining time on another transaction</label>
        <locationX>728</locationX>
        <locationY>388</locationY>
        <defaultConnector>
            <targetReference>Actual_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>End_date_over_the_business_hour_period</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOLIRecord.Temp_Billable_Hours__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>End_Date_Time</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>WOLIRecord.EndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_3</targetReference>
            </connector>
            <label>End date over the business hour period</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_before_End_Date</name>
        <label>Start before End Date?</label>
        <locationX>410</locationX>
        <locationY>373</locationY>
        <defaultConnector>
            <targetReference>Over_16_Hours</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Start_Before_End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Start_Time</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>End_Date_Time</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Screen_1</targetReference>
            </connector>
            <label>Start Before End</label>
        </rules>
    </decisions>
    <decisions>
        <name>WOLI_End_Date_greater_than_SA_end_Date</name>
        <label>WOLI End Date greater than SA end Date?</label>
        <locationX>173</locationX>
        <locationY>547</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WOLI_greater_than_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>End_Date_Time</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>SARecord.ActualEndTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA_Actual_End</targetReference>
            </connector>
            <label>WOLI greater than SA</label>
        </rules>
    </decisions>
    <formulas>
        <name>ActualHoursFormula</name>
        <dataType>Number</dataType>
        <expression>({!End_Date_Time}-{!Start_Time})*24</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ConsumedPrePurchasedHours_Formula</name>
        <dataType>Number</dataType>
        <expression>{!Billable_Hours} * {!WOLIRecord.Usage_per_hour__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SF_WOL01_EditTransaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF_WOL01_EditTransaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>328</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Completed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOLIRecord.Service_Appointment__c</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SARecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ActualStartTime</queriedFields>
        <queriedFields>ActualEndTime</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WOLI_record</name>
        <label>Get WOLI record</label>
        <locationX>185</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SA</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WOLIRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>Actual_Hours__c</queriedFields>
        <queriedFields>Billable_Hours__c</queriedFields>
        <queriedFields>Service_Appointment__c</queriedFields>
        <queriedFields>Consumed_Pre_Purchased_Hours__c</queriedFields>
        <queriedFields>Usage_per_hour__c</queriedFields>
        <queriedFields>Temp_Billable_Hours__c</queriedFields>
        <queriedFields>Temp_Actual_Hours__c</queriedFields>
        <queriedFields>Temp_End_Date__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Resource_Formula__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>87</locationX>
        <locationY>377</locationY>
        <inputReference>SARecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WOLI</name>
        <label>Update WOLI</label>
        <locationX>304</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>WOLI_End_Date_greater_than_SA_end_Date</targetReference>
        </connector>
        <inputReference>WOLIRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Actual_Screen</name>
        <label>Actual Screen</label>
        <locationX>737</locationX>
        <locationY>574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment_on_SA_and_WOLI</targetReference>
        </connector>
        <fields>
            <name>EnteredTimeDisplay</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Start:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!WOLIRecord.StartDate}&lt;/p&gt;&lt;p&gt;&lt;b&gt;End Date/Time:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!End_Date_Time}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Actual Hours:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!ActualHoursFormula}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Billable_Hours</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ActualHoursFormula</elementReference>
            </defaultValue>
            <fieldText>Billable Hours</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Edit_Time_Screen</name>
        <label>Edit Time Screen</label>
        <locationX>416</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Start_before_End_Date</targetReference>
        </connector>
        <fields>
            <name>DateFormat</name>
            <fieldText>&lt;p&gt;Please input 15 minutes interval &lt;b&gt;:00, :15, :30, :45&lt;/b&gt; when capturing the Start Date/Time and End Date/Time.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>WOLIRecord.StartDate</elementReference>
            </defaultValue>
            <fieldText>Start Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>WOLIRecord.EndDate</elementReference>
            </defaultValue>
            <fieldText>End Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>773</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Transactions cannot be edited or created after your service appointment is Completed/Cannot Complete.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning_3</name>
        <label>Warning 3</label>
        <locationX>669</locationX>
        <locationY>170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Edit_Time_Screen</targetReference>
        </connector>
        <fields>
            <name>Warning3</name>
            <fieldText>&lt;p&gt;You cannot set End Date after {!WOLIRecord.EndDate} as this record charges for {!WOLIRecord.Description}.&lt;/p&gt;&lt;p&gt;Please update the relevant work order line item.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning_Screen_1</name>
        <label>Warning Screen 1</label>
        <locationX>87</locationX>
        <locationY>238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Edit_Time_Screen</targetReference>
        </connector>
        <fields>
            <name>Warning1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Start Date cannot be after End Date. Please update Start and End Date.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning_Screen_2</name>
        <label>Warning Screen 2</label>
        <locationX>574</locationX>
        <locationY>280</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Edit_Time_Screen</targetReference>
        </connector>
        <fields>
            <name>Warning2</name>
            <fieldText>&lt;p&gt;According to HR Policy you cannot work over 16 hours in 1 time.&lt;/p&gt;&lt;p&gt;Please update your time or create multiple transactions.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_WOLI_record</startElementReference>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SARecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>WOLIRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
